<section>
    <div class="navigation-buttons">
        <button mat-fab color="primary" aria-label="Página princial" matTooltip="Página principal"  routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Volver" matTooltip="Volver" routerLink="/admin"> 
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>CONTROL DE</h1>
            <h1>PERMISOS</h1>
        </div>
        <div class="botones">
            <a class="btnPendientes" (click)="mostrarPendientes()" >
                <span>USUARIOS</span>
                <span style="color: black">USUARIOS</span>
            </a>
            <a class="btnAceptados" (click)="mostrarAceptados()" >
                <span>ADMINISTRADORES</span>
                <span style="color: black">ADMINISTRADORES</span>
            </a>
        </div>
    </div>
    <div class="usuarios pendientes">
        <div class="busqueda">
            <input type="text" tabindex="-1" id="busquedaUsuarios" placeholder="Buscar por nombre o email">
            <a>
                <span (click)="searchUsers()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                </span>
            </a>
        </div>
        <div class="resultadoBusqueda" *ngIf="usersSearch != ''">
            <h1 class="resultadoBusquedaUsuarios">RESULTADO DE LA BUSQUEDA: "{{usersSearch}}"</h1>
            <button type="button" (click)="resetUsersSearch()" class="cancelarBusqueda">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg>
            </button>
        </div>
        <ul class="listaUsuarios">
            <ng-container *ngFor="let user of users"> 
                <li>
                    <span class="UsuarioEmail">{{user.name}} - {{user.email}}</span>
                    <div class="info">
                        <span class="Organizacion">Organizacion: {{user.organization}}</span>
                        <span class="Fecha">Fecha de registro: {{user.createdAt}}</span>
                        <a *ngIf="currentUser !== undefined && user.id !== currentUser.id">
                            <span class="boton aceptar" (click)="giveAdminPermission(user.id, user.name)">
                                DAR PERMISOS DE ADMINISTRADOR
                            </span>
                        </a>
                    </div>
                </li>
            </ng-container>
        </ul>
        <div class="vacio" *ngIf="usersCount == 0">
            <h1 class="vacioUsuarios">¡NO HAY USUARIOS!</h1>
        </div>
        <ul class ="paginado" *ngIf="usersCount != 0">
            <li (click)="goToPreviousUserPage()" class="elementoPaginado">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg></span>
            </li>
            <li class="elementoPaginado users" id="users{{number}}" (click)="goToUserPage(number)" *ngFor="let number of usersCurrentPages" [ngClass]="number==usersCurrentPage ? 'active' : ''">
                <span>{{number}}</span>
            </li>
            <li (click)="goToNextUserPage()" class="elementoPaginado">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg></span>
            </li>
        </ul>
    </div>
    <div class="usuarios aceptados">
        <div class="busqueda">
            <input type="text" tabindex="-1" id="busquedaAdministradores" placeholder="Buscar por nombre o email">
            <a>
                <span (click)="searchAdmins()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
                </span>
            </a>
        </div>
        <div class="resultadoBusqueda" *ngIf="adminsSearch != ''">
            <h1 class="resultadoBusquedaAdministradores">RESULTADO DE LA BUSQUEDA: "{{adminsSearch}}"</h1>
            <button type="button" (click)="resetAdminsSearch()" class="cancelarBusqueda">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg>
            </button>
        </div>
        <ul class="listaUsuarios">
            <ng-container *ngFor="let admin of admins"> 
                <li>
                    <span class="UsuarioEmail">{{admin.name}} - {{admin.email}}</span>
                    <div class="info">
                        <span class="Organizacion">Organizacion: {{admin.organization}}</span>
                        <span class="Fecha">Fecha de registro: {{admin.createdAt}}</span>
                        <a *ngIf="currentUser !== undefined && admin.id !== currentUser.id">
                            <span class="boton cancelar" (click)="removeAdminPermission(admin.id, admin.name)">
                                QUITAR PERMISOS DE ADMINISTRADOR
                            </span>
                        </a>
                    </div>
                </li>
            </ng-container>
        </ul>
        <div class="vacio" *ngIf="adminsCount == 0">
            <h1 class="vacioAdministradores">¡NO HAY ADMINISTRADORES!</h1>
        </div>
        <ul class ="paginado" *ngIf="adminsCount != 0">
            <li (click)="goToPreviousAdminPage()" class="elementoPaginado">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg></span>
            </li>
            <li class="elementoPaginado admins" id="admins{{number}}" (click)="goToAdminPage(number)" *ngFor="let number of adminsCurrentPages" [ngClass]="number==adminsCurrentPage ? 'active' : ''">
                <span>{{number}}</span>
            </li>
            <li (click)="goToNextAdminPage()" class="elementoPaginado">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg></span>
            </li>
        </ul>
    </div>

</section>
