* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  min-height: 1000px;
  background: #ccfdff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
section .color {
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  transform: skewX(-20deg);
  transition: 0.75s;
}
section .color:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  filter: blur(20px);
}
section .color:nth-child(1) {
  top: -140px;
  right: 80px;
  width: 150px;
  height: 550px;
  animation: init-color1 0.5s ease-in;
}
section.active .color:nth-child(1) {
  top: 160px;
  right: 200px;
  height: 850px;
}
section .color:nth-child(2) {
  top: 100px;
  left: -20px;
  width: 180px;
  height: 900px;
  animation: init-color2 0.75s ease-in;
}
section.active .color:nth-child(2) {
  top: -100px;
  left: 170px;
  height: 400px;
}
section .color:nth-child(3) {
  bottom: -120px;
  left: 180px;
  width: 150px;
  height: 550px;
  animation: init-color3 0.8s ease-in;
}
section.active .color:nth-child(3) {
  bottom: -20px;
  left: 220px;
  height: 550px;
}
@keyframes init-color1 {
  0% {
    top: -290px;
    right: 20px;
    height: 450px;
  }
  100% {
    top: -140px;
    right: 80px;
    height: 550px;
  }
}
@keyframes init-color2 {
  0% {
    top: 300px;
    left: -50px;
    height: 600px;
  }
  100% {
    top: 100px;
    left: -20px;
    height: 900px;
  }
}
@keyframes init-color3 {
  0% {
    bottom: -195px;
    left: 150px;
    height: 550px;
  }
  100% {
    bottom: -120px;
    left: 180px;
    height: 550px;
  }
}
section .fijo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: 180px;
  max-width: 1000px;
  top: 90px;
  animation: init-title 0.35s ease-in;
}
@keyframes init-title {
  0% {
    transform: translateX(6vw);
  }
  100% {
    transform: translateX(0);
  }
}
section .usuarios {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 80vw;
  max-width: 800px;
  top: 285px;
  transition: 0.5s;
  animation: init-list 0.5s ease-in;
}
@keyframes init-list {
  0% {
    transform: translateY(3vw);
  }
  100% {
    transform: translateX(0);
  }
}
section.active .usuarios.pendientes {
  transform: translateX(-100vw);
}
section .usuarios.aceptados {
  transform: translateX(100vw);
}
section.active .usuarios.aceptados {
  transform: translateX(0vw);
}
section .fijo .titulo {
  width: 100%;
  text-align: center;
  position: relative;
  top: -60px;
}
section .fijo .titulo h1:nth-child(1) {
  position: relative;
  top: 40px;
  left: -120px;
  font-size: 80px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.5s;
  animation: init-text 0.5s ease-in;
}
@keyframes init-text {
  0% {
    transform: translateY(-15vw);
  }
  100% {
    transform: translateX(0);
  }
}
section.active .fijo .titulo h1:nth-child(1) {
  left: 120px;
}
section .fijo .titulo h1:nth-child(2) {
  font-size: 100px;
  position: relative;
  left: 0px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ccfdff;
  transition: 0.5s;
}
section .usuarios .busqueda {
  margin: 20px;
  display: flex;
  position: relative;
  top: 0;
}
section .usuarios .busqueda input[type="text"] {
  width: 0px;
  height: 40px;
  border-radius: 20px;
  background: #ccfdff;
  color: black;
  font-weight: 400;
  outline: none;
  font-size: 18px;
  padding-left: 14px;
  max-width: 500px;
  border: 2px solid #ccfdff;
  transition: 1s;
}
section .usuarios .busqueda:hover input[type="text"] {
  width: 70vw;
  max-width: 500px;
}
section .usuarios .busqueda input[type="text"]:focus {
  width: 70vw;
  max-width: 500px;
}
section .usuarios .busqueda input[type="text"]::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
section .usuarios .busqueda a span {
  position: absolute;
  top: -5px;
  right: -15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #ccfdff;
  border-radius: 50%;
  border: 3px solid #82cacc65;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
  cursor: pointer;
  transition: 0.5s;
}
section .usuarios .busqueda a span:hover {
  transform: scale(1.15);
}
section .usuarios .busqueda a span svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
}
section .resultadoBusqueda {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .resultadoBusqueda h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 420;
  letter-spacing: 1px;
}
section .resultadoBusqueda .cancelarBusqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5px;
  border: none;
  background: rgb(224, 52, 52);
  color: #fff;
  height: 25px;
  width: 25px;
  pointer-events: initial;
  border-radius: 50%;
  transition: 0.35s;
}
section .resultadoBusqueda .cancelarBusqueda:hover {
  transform: scale(115%);
}
section .resultadoBusqueda .cancelarBusqueda svg {
  position: absolute;
  left: 3.35px;
}
section .resultadoBusqueda .resultadoBusquedaUsuarios {
  color: #ccfdff;
}
section .resultadoBusqueda .resultadoBusquedaAdministradores {
  color: #ccfdff;
}
section .fijo .botones {
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .fijo .botones a.btnAceptados {
  position: relative;
  width: 220px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  margin: 10px;
  background: #191919;
  color: #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
}
section.active .fijo .botones a.btnAceptados {
  width: 240px;
  height: 60px;
  border-radius: 40px;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
}
section.active .fijo .botones a.btnAceptados::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 40px;
  transition: 0.5s;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  filter: blur(20px);
  transition: 0.5s;
}
section .fijo .botones a.btnPendientes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 40px;
  transition: 0.5s;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  filter: blur(20px);
  transition: 0.5s;
}
section .fijo .botones a.btnPendientes::after {
  display: none;
}
section .fijo .botones a.btnPendientes {
  position: relative;
  text-align: center;
  line-height: 55px;
  margin: 10px;
  background: #191919;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
  width: 240px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
}
section.active .fijo .botones a.btnPendientes {
  width: 220px;
  height: 55px;
  border-radius: 40px;
  box-shadow: none;
}
section .fijo .botones a span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0s;
}
section .fijo .botones a:hover span {
  transition: 0.4s;
  transform: translateY(-100%);
}
section.active .fijo .botones a.btnAceptados span {
  transform: translateY(-100%);
}
section .fijo .botones a.btnPendientes span {
  transform: translateY(-100%);
}
section.active .fijo .botones a.btnPendientes span {
  transform: translateY(0%);
}
section.active .fijo .botones a.btnPendientes:hover span {
  transform: translateY(-100%);
}
section .fijo .botones a:before {
  content: "";
  position: absolute;
  bottom: -270px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 270px;
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  border-radius: 50%;
  transition: 0.4s;
}
section .fijo .botones a.btnPendientes:before {
  background: linear-gradient(315deg, #61fff7, #2b98ff);
}
section .fijo .botones a.btnAceptados:before {
  background: linear-gradient(315deg, #61fff7, #2b98ff);
}
section.active .fijo .botones a.btnAceptados:before {
  background: linear-gradient(315deg, #61fff7, #2b98ff);
}
section .fijo .botones a:hover:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnAceptados:before {
  bottom: -150px;
}
section .fijo .botones a.btnPendientes:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnPendientes:hover:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnPendientes:before {
  bottom: -270px;
}
ul.listaUsuarios {
  position: relative;
  width: 100%;
  margin: 10px auto 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.listaUsuarios li {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 95%;
  height: 50px;
  background: #ccfdff;
  padding: 10px 20px;
  color: black;
  margin: 5px 0;
  overflow: hidden;
  transition: width 0.15s 0.15s, height 0.25s 0s, background 0.15s 0.15s;
}
ul.listaUsuarios li .UsuarioEmail {
  font-size: 18px;
  transition: 0.2s 0.1s;
}
ul.listaUsuarios li:hover .UsuarioEmail {
  font-size: 25px;
  margin-top: -30px;
}
ul.listaUsuarios li .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 0px;
  margin-top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(150px);
  transition: 0.6s;
}
ul.listaUsuarios li .info .Organizacion {
  font-size: 16px;
}
ul.listaUsuarios li .info .Fecha {
  font-size: 16px;
}
ul.listaUsuarios li:hover .info {
  height: 30px;
  margin-top: 25px;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
ul.listaUsuarios li a {
  text-decoration: none;
  margin-top: 10px;
}
ul.listaUsuarios li a .boton {
  padding: 6px;
  border-radius: 10px;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
ul.listaUsuarios li a .boton.aceptar {
  background: rgb(166, 230, 106);
}
ul.listaUsuarios li a .boton.cancelar {
  background: rgb(241, 62, 62);
  color: white;
}
ul.listaUsuarios li:hover {
  width: 100%;
  height: 150px;
  transition: width 0.2s 0s, height 0.35s 0.1s;
}
ul.paginado {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul.paginado .elementoPaginado {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  background: #ccfdff;
  border: 2px solid #82caccab;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
  color: black;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.2s 0.15s;
}
ul.paginado .elementoPaginado.active {
  background: linear-gradient(315deg, #61fff7, #2b98ff);
  border: 2px solid #abf7f3;
}
ul.paginado .elementoPaginado svg {
  position: relative;
  display: flex;
}
section .vacio {
  position: relative;
  width: 80%;
  top: -10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .vacio h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 450;
  letter-spacing: 2px;
}
section .vacio .vacioUsuarios {
  color: #c9fdff;
}
section .vacio .vacioAdministradores {
  color: #c9fdff;
}
@media (max-width: 1435px) {
  section .color {
    display: none;
  }
}
@media (max-width: 740px) {
  section .fijo .titulo {
    top: -54px;
  }
  section .fijo .titulo h1:nth-child(1) {
    top: 21px;
    left: -80px;
    font-size: 45px;
  }
  section.active .fijo .titulo h1:nth-child(1) {
    left: 80px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 58px;
  }
  section .fijo .botones {
    top: -40px;
  }
}
@media (max-width: 520px) {
  section .fijo .titulo h1:nth-child(1) {
    top: 15px;
    left: -40px;
    font-size: 30px;
  }
  section.active .fijo .titulo h1:nth-child(1) {
    left: 40px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 35px;
  }
  section .fijo .titulo {
    top: -32px;
  }
  section .fijo .botones {
    flex-direction: column;
    top: -20px;
  }
  section .usuarios {
    top: 310px;
  }
  section .fijo {
    height: 210px;
  }
}
