.first-div {
  height: 100%;
}

.first-illustration {
  width: 50%;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles-div {
  display: flex;
  flex-direction: column;
}

.rep-title {
  color: #3FB1B5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25vh;
  height: 25vh;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0;
}

.rep-subtitle {
  color: #3FB1B5;
  font-family: Montserrat;
  font-style: normal;
  font-size: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  margin-left: 2.5vh;
}

.rep-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  line-height: 4vh;
  color: #3F51B5;
  margin-left: 2.5vh;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 65vh;
}

.col-md-6 {
  background-color: #CCFDFF;
  min-width: 65vh;
}

@media (max-width: 1325px) {
  .col-md-6 {
    width: 100%;
  }
}
