<div class="row first-div">
  <div class="col-md-6 info-div">
    <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_dashboard.png">
  </div>
  <div class="col-md-6 right-column">
    <div class="titles-div">
      <p class="rep-title">REP!</p>
      <p class="rep-subtitle">Requerimiento Energético Poblacional</p>
    </div>
    <p class="rep-info">
      Herramienta para el cálculo del requerimiento energético diario promedio de una población
    </p>
  </div>
</div>
