<mat-card class="card">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step>
      <div class="container">
        <ng-template matStepLabel>Edad y cantidad de personas por sexo</ng-template>
        <app-calculos-paso1></app-calculos-paso1>
        <div class="containerButtons">
          <button mat-flat-button color="primary" mat-button matStepperNext>Siguiente</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="container">
        <ng-template matStepLabel>Prevalencia nivel de actividad física</ng-template>
        <app-calculos-paso2></app-calculos-paso2>
        <div class="containerButtons">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-flat-button color="primary" mat-button matStepperNext >Siguiente</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="container"> 
        <ng-template matStepLabel>Estilo de vida por area</ng-template>
        <app-calculos-paso3></app-calculos-paso3>
        <div class="containerButtons">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-flat-button color="primary" mat-button matStepperNext>Siguiente</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="container">
        <ng-template matStepLabel>Mujeres de 18 a 29 años</ng-template>
        <app-calculos-paso4></app-calculos-paso4>
        <div class="containerButtons">
          <button mat-flat-button color="primary" mat-button matStepperNext routerLink="/result">Confirmar</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>