.card {
    margin: 1rem;
}

.container {
    display:flex;
    flex-direction: column;
    float: left;
}

.container-buttons {
    margin-bottom: 10px;
}

.container-stepper-buttons {
    display:flex;
    justify-content: flex-end;
}

.container-download-progress-button {
    display:flex;
    justify-content: flex-start;
}

.second-button {
    margin-left: 15px;
}