.navigation-buttons {
  width: fit-content;
  height: 60px;
  border-radius: 50px;
  margin: 20px;
}

.navigation-buttons > * {
margin-right: 20px;
}

.navigation-buttons .mat-tooltip {
font-size: 20px;
}

.first-div {
  height: 100%;
  display: grid;
  align-content: center;
}
  
.illustration {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
}

.upload-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.upload-subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.file-input {
  display: none;
}

.file-upload {
  margin-bottom: 1rem;
}

.upload-btn {
  height: 3rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.upload-button {
  width: 399.92px;
  height: 3rem;
  font-size: 1rem;
}

::ng-deep snack-bar-container.error-snack-bar {
  background: #FF5252;
}

::ng-deep .error-snack-bar .mat-simple-snackbar {
  color: #ffffff;
}

::ng-deep .error-snack-bar .mat-simple-snackbar-action {
  color: #ffffff !important;
}
