.first-div {
    height: 100%;
  }
  
.illustration {
    width: 528px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upload-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.upload-subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.file-input {
  display: none;
}

.upload-button {
  width: 399.92px;
}
