.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  width: 30rem;
}

.title {
  font-weight: 500;
  font-size: 10rem;
  color: #3f51b5;
  height: 10rem;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-around;
}

.login-button {
  margin-bottom: 1rem !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media (max-width: 768px) {
  .mat-card {
    width: 40vh;
  }

  .title {
    font-size: 20vh;
    height: 20vh;
  }
}
