<div class="content">
  <p class="title">REP!</p>
  <mat-card class="content">
    <form [formGroup]="auth">
      <mat-form-field class="input" appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ingresa tu usuario" formControlName="email" autocomplete="off">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Email no válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input" appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresa tu contraseña" formControlName="password" autocomplete="off">
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="login-button" (click)="login()" 
      [disabled]="!auth.valid || submitted">INGRESAR</button>
  </mat-card>
</div>
