.first-div {
  height: 100%;
}

.first-illustration {
  width: 100%;
}

.download-container {
  display: flex;
  justify-content: space-evenly;
}

.download-col {
  justify-content: center;
  display: grid;
}

.download-title{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  
  /* or 156% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  
  color: #3F51B5;
}

.download-text{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  
  /* or 156% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  
  color: #3F51B5;
}

.download-button {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  margin-left: 4px;

  /* or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  text-decoration-line: underline;
  
  color: #3F51B5;
}

.primary-result {
  margin-right: 5px; 
  margin-left: 10px; 
  margin-top: 98px;
  margin-bottom: 90px;
}

.primary-result-text {
  min-width: 60%;
}

.primary-result-number {
  justify-content: center;
  display: flex;
  min-width: 40%;
}

.secondary-result {
  margin-right: 5px; 
  margin-left: 10px; 
  margin-bottom: 30px;
}

.rep-title {

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;

  /* or 106% */
  display: flex;
  align-items: center;
  letter-spacing: 1.25px;

  color: #3F51B5;
}

.rep-subtitle {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

.rep-subtitle-quantity {
  margin-left: 0.5rem;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  font-size: 15px;
  line-height: 28px;

  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

.rep-result {
  margin-top: 12px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 96px;
  line-height: 38px;
  
  /* or 40% */
  display: flex;
  /* align-items: center; */
  letter-spacing: 1.25px;
  
  color: #FE5244;
}

.rep-result-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 33.25px;
  line-height: 64px;
  /* justify-content: center; */
  /* or 160% */
  display: flex;
  /* align-items: center; */
  letter-spacing: 2.09494px;

  color: #FE5244;
}

.age-group {
  margin-bottom: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  
  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  
  color: #FE5244;
}

.age-group-quantity{
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  
  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  
  color: rgba(97, 97, 97, 0.9);
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 65vh;
}

.col-md-6 {
  background-color: #ffffff;
  min-width: 65vh;
}

.display-flex {
  display: flex;
}

table{
    width: 100%;
}

@media (max-width: 1325px) {
  .col-md-6 {
    width: 100%;
  }
}
