<form [formGroup]="minorPALForm" autocomplete="off">
  <div class="step2-titulo">
    <ng-template matStepLabel>
      Prevalencia nivel de actividad física
      <mat-icon
        aria-hidden="false"
        aria-label="More info"
        matTooltip="Avisar que se tomara un valor por defecto"
        matTooltipPosition="above">
        help_outline
      </mat-icon>
    </ng-template>
  </div>
  <div class="step2-subtitulo">
    Los porcentajes son sobre la población de entre 6 y 17 años
  </div>
  <div class="container m-4">
    <div class="row">
      <div class="col">
        <div class="step2-af-liviana">
          <mat-form-field appearance="standard">
            <mat-label>Actividad fisica liviana</mat-label>
            <input matInput formControlName="lowPAL" [errorStateMatcher]="matcher">
            <mat-hint>
              Ingrese el porcentaje de población que realiza actividad fisica liviana
            </mat-hint>
            <mat-error *ngIf="minorPALForm.get('lowPAL')?.errors">
              Debe ingresar un numero entre 0 y 100
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <div class="step2-af-moderada">
          <mat-form-field appearance="standard">
            <mat-label>Actividad fisica moderada</mat-label>
            <input matInput formControlName="moderatePAL" [errorStateMatcher]="matcher">
            <mat-hint>
              Ingrese el porcentaje de población que realiza actividad fisica moderada
            </mat-hint>
            <mat-error *ngIf="minorPALForm.get('moderatePAL')?.errors">
              Debe ingresar un numero entre 0 y 100
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <div class="step2-af-intensa">
          <mat-form-field appearance="standard">
            <mat-label>Actividad fisica intensa</mat-label>
            <input matInput formControlName="intensePAL" [errorStateMatcher]="matcher">
            <mat-hint>
              Ingrese el porcentaje de población que realiza actividad fisica intensa
            </mat-hint>
            <mat-error *ngIf="minorPALForm.get('intensePAL')?.errors">
              Debe ingresar un numero entre 0 y 100
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="minorPALForm.errors?.groupSuman100 &&
    (minorPALForm.touched || minorPALForm.dirty)"
    class="mensaje-error">
    Los 3 porcentajes ingresados deben sumar 100
  </div>
</form>
