* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ccfdff;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
}
.container .box {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
  cursor: pointer;
  transition: 0.5s;
}
.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(20px);
  transition: 0.5s;
}
@keyframes init-diagonal-top-down {
  0% {
    transform: translateY(-1000px) translateX(-300px) skewX(15deg);
  }
  100% {
    transform: translateY(0) translateX(0) skewX(15deg);
  }
}
@keyframes init-diagonal-bottom-up {
  0% {
    transform: translateY(1000px) translateX(300px) skewX(15deg);
  }
  100% {
    transform: translateY(0) translateX(0) skewX(15deg);
  }
}
@keyframes init-bottom-up {
  0% {
    transform: translateY(100vh);
  }
  10% {
    transform: translateY(60vh);
  }
  20% {
    transform: translateY(30vh);
  }
  30% {
    transform: translateY(15vh);
  }
  40% {
    transform: translateY(5vh);
  }
  60% {
    transform: translateY(0);
  }
  75% {
    transform: skewX(0);
  }
  100% {
    transform: skewX(15deg);
  }
}
@keyframes init-top-down {
  0% {
    transform: translateY(-100vh);
  }
  10% {
    transform: translateY(-60vh);
  }
  20% {
    transform: translateY(-30vh);
  }
  30% {
    transform: translateY(-15vh);
  }
  40% {
    transform: translateY(-5vh);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: skewX(0);
  }
  100% {
    transform: skewX(15deg);
  }
}
.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}
.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #65fdd7, #3cd17f);
  animation: init-diagonal-top-down 0.25s ease-in;
}
.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #2b98ff, #61fff7);
  animation: init-diagonal-bottom-up 0.4s ease-in;
}
.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #f0e796, #f7a944);
  animation: init-diagonal-top-down 0.55s ease-in;
}
.container .box:nth-child(4):before,
.container .box:nth-child(4):after {
  background: linear-gradient(315deg, #f7405e, #ffb6d8);
  animation: init-diagonal-bottom-up 0.7s ease-in;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.container .box .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 20px 20px;
  left: 0;
  width: 300px;
  background: #3f51b5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 1;
  color: #fff;
  overflow-y: hidden;
  transition: 0.3s;
}
.container .box:hover .content {
  padding: 50px 20px;
  left: -25px;
}
.container .box .content h2 {
  position: relative;
  text-align: center;
  font-size: 2.2em;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 0px;
  transition: 0.35s;
}
.container .box:hover .content h2 {
  font-size: 2.6em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 4px;
}
@keyframes animate1 {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 100000%;
  }
}
@keyframes animate2 {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 40000%;
  }
}
@keyframes animate3 {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 80000%;
  }
}
@keyframes animate4 {
  0%,
  100% {
    background-position: 0%;
  }
  50% {
    background-position: 10000%;
  }
}
.container .box:nth-child(1):hover .content h2 {
  background: linear-gradient(90deg, #3cd17f, #65fdd7, #3cd17f);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: animate1 5s infinite;
}
.container .box:nth-child(2):hover .content h2 {
  background: linear-gradient(90deg, #61fff7, #2b98ff, #61fff7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: animate2 5s infinite;
}
.container .box:nth-child(3):hover .content h2 {
  background: linear-gradient(90deg, #f7a944, #f0e796, #f7a944);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: animate3 5s infinite;
}
.container .box:nth-child(4):hover .content h2 {
  background: linear-gradient(90deg, #ffb6d8, #f7405e, #ffb6d8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: animate4 5s infinite;
}
.container .box .content p {
  font-size: 1.2em;
  margin-bottom: 10px;
  line-height: 1.4em;
  transform: translateY(500%);
  height: 0;
  overflow: hidden;
  transition: height 0.25s 0.1s, transform 0.5s 0s;
}
.container .box:hover .content p {
  height: 80px;
  transform: translateY(0);
  transition: height 0.25s 0s, transform 0.4s 0.05s;
}
.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}
@media (max-width: 1630px) {
  .container .box {
    height: 320px;
    margin: 8px 25px;
  }
  .container .box .content {
    padding: 15px 10px;
    width: 250px;
  }
  .container .box:hover .content {
    padding: 35px 20px;
    left: -7.5px;
  }
  .container .box:hover .content h2 {
    font-size: 2.1em;
    letter-spacing: 3px;
  }
  .container .box:hover .content p {
    font-size: 1em;
  }
  .container .box:hover:before,
  .container .box:hover:after {
    left: 35px;
  }
}
@media (max-width: 1230px) {
  .container .box {
    height: 250px;
    margin: 6px 18px;
  }
  .container .box .content {
    padding: 10px 5px;
    width: 180px;
  }
  .container .box:hover .content {
    padding: 20px 10px;
    left: -5px;
  }
  .container .box .content h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  .container .box:hover .content h2 {
    font-size: 1.3em;
    letter-spacing: 3px;
  }
  .container .box:hover .content p {
    font-size: 0.8em;
  }
  .container .box:hover:before,
  .container .box:hover:after {
    left: 40px;
  }
}
@media (max-width: 880px) {
  .container {
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
  }
  body {
    overflow: visible;
    min-height: 1100px;
  }
  .container .box:nth-child(1):before,
  .container .box:nth-child(1):after {
    animation: none;
  }
  .container .box:nth-child(2):before,
  .container .box:nth-child(2):after {
    animation: none;
  }
  .container .box:nth-child(3):before,
  .container .box:nth-child(3):after {
    animation: none;
  }
  .container .box:nth-child(4):before,
  .container .box:nth-child(4):after {
    animation: none;
  }
}
