<body>
  <div class="container">
      <div class="box" routerLink="autorizacion">
          <div class="content">
              <h2>AUTORIZAR</h2>
              <p> Aceptar o denegar acceso a los usuarios que se hayan registrado. </p>
          </div>
      </div>
      <div class="box" routerLink="permisos">
          <div class="content">
              <h2>PERMISOS</h2>
              <p> Dar o quitar permisos de administrador a los usuarios que hayan sido autorizados. </p>
          </div>
      </div>
      <div class="box" routerLink="valores">
          <div class="content">
              <h2>VALORES</h2>
              <p> Modificar los valores que se utilizan al momento de realizar los cálculos. </p>
          </div>
      </div>
      <div class="box">
        <div class="content">
            <h2>FAQ</h2>
            <p> Crear, modificar o eliminar preguntas y respuestas frecuentes. </p>
        </div>
    </div>
  </div>
</body>
<!--<div class="router-content">
  <button routerLink="autorizacion">
    Autorización
  </button>
  <button routerLink="permisos">
    Permisos
  </button>
  <button routerLink="valores">
    Valores
  </button>
</div>-->
