* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  min-height: 100vh;
  background: #ccfdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
  animation: init-section 1.5s linear;
}
section .color {
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(315deg, #f5eda4, #f7a944);
  transition: 0.75s;
}
section .color:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  background: linear-gradient(315deg, #f5eda4, #f7a944);
  filter: blur(20px);
}
section .color:nth-child(1) {
  top: 20vh;
  right: -20px;
  width: 190px;
  height: 100px;
  transform: skewY(15deg);
  animation: init-color-right-left 0.5s ease-in;
}
section .color:nth-child(1)::after {
  background: linear-gradient(315deg, #f7a944, #f5eda4);
}
section.active .color:nth-child(1) {
  width: 320px;
}
section .color:nth-child(2) {
  top: 10vh;
  left: -20px;
  width: 340px;
  height: 80px;
  transform: skewY(15deg);
  animation: init-color-left-right 0.45s ease-in;
}
section.active .color:nth-child(2) {
  top: 8vh;
  width: 210px;
}
section .color:nth-child(3) {
  top: 25vh;
  left: -20px;
  width: 220px;
  height: 100px;
  border-radius: 10px;
  transform: skewY(15deg);
  background: linear-gradient(315deg, #f7a944, #f5eda4);
  animation: init-color-left-right 0.55s ease-in;
}
section .color:nth-child(3)::after {
  background: linear-gradient(315deg, #f7a944, #f5eda4);
}
section.active .color:nth-child(3) {
  top: 26vh;
  width: 300px;
}
section .color:nth-child(4) {
  top: 60vh;
  left: -20px;
  width: 290px;
  height: 80px;
  border-radius: 10px;
  transform: skewY(15deg);
  background: linear-gradient(315deg, #f7a944, #f5eda4);
  animation: init-color-left-right 0.3s ease-in;
}
section .color:nth-child(4)::after {
  background: linear-gradient(315deg, #f7a944, #f5eda4);
}
section.active .color:nth-child(4) {
  width: 200px;
}
section .color:nth-child(5) {
  top: 50vh;
  right: -20px;
  width: 260px;
  height: 100px;
  border-radius: 10px;
  transform: skewY(15deg);
  background: linear-gradient(315deg, #f7a944, #f5eda4);
  animation: init-color-right-left 0.35s ease-in;
}
section .color:nth-child(5)::after {
  background: linear-gradient(315deg, #f7a944, #f5eda4);
}
section.active .color:nth-child(5) {
  top: 51vh;
  width: 180px;
}
@keyframes init-color-left-right {
  0% {
    transform: translateY(-50px) translateX(-150px) skewY(15deg);
  }
  100% {
    transform: translateY(0) translateX(0) skewY(15deg);
  }
}
@keyframes init-color-right-left {
  0% {
    transform: translateY(50px) translateX(150px) skewY(15deg);
  }
  100% {
    transform: translateY(0) translateX(0) skewY(15deg);
  }
}
section .fijo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: 180px;
  max-width: 1000px;
  top: 90px;
  animation: init-title 0.35s ease-in;
}
@keyframes init-title {
  0% {
    transform: translateX(6vw);
  }
  100% {
    transform: translateX(0);
  }
}
section .fijo .titulo {
  width: 100%;
  text-align: center;
  position: relative;
  top: -60px;
}
section.active .acordeon.porDefecto {
  transform: translateX(-100vw);
}
section .acordeon.constantes {
  transform: translateX(100vw);
}
section.active .acordeon.constantes {
  transform: translateX(0vw);
}
section .fijo .titulo h1:nth-child(1) {
  position: relative;
  top: 40px;
  left: -100px;
  font-size: 80px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(315deg, #f5eda4, #f7a944);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.5s;
  animation: init-text 0.5s ease-in;
}
section.active .fijo .titulo h1:nth-child(1) {
  left: 100px;
}
@keyframes init-text {
  0% {
    transform: translateY(-15vw);
  }
  100% {
    transform: translateX(0);
  }
}
section .fijo .titulo h1:nth-child(2) {
  font-size: 100px;
  position: relative;
  left: 0px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ccfdff;
  transition: 0.5s;
}
section .fijo .botones {
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .fijo .botones a.btnConstantes {
  position: relative;
  width: 220px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  margin: 10px;
  background: #191919;
  color: #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
}
section.active .fijo .botones a.btnConstantes {
  width: 240px;
  height: 60px;
  border-radius: 40px;
  background: linear-gradient(315deg, #f0e796, #f7a944);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
}
section.active .fijo .botones a.btnConstantes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 40px;
  transition: 0.5s;
  background: linear-gradient(315deg, #f0e796, #f7a944);
  filter: blur(20px);
  transition: 0.5s;
}
section .fijo .botones a.btnDefecto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 40px;
  transition: 0.5s;
  background: linear-gradient(315deg, #f0e796, #f7a944);
  filter: blur(20px);
  transition: 0.5s;
}
section .fijo .botones a.btnDefecto::after {
  display: none;
}
section .fijo .botones a.btnDefecto {
  position: relative;
  text-align: center;
  line-height: 55px;
  margin: 10px;
  background: #191919;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
  width: 240px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.479);
}
section.active .fijo .botones a.btnDefecto {
  width: 220px;
  height: 55px;
  border-radius: 40px;
  box-shadow: none;
}
section .fijo .botones a span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0s;
}
section .fijo .botones a:hover span {
  transition: 0.4s;
  transform: translateY(-100%);
}
section.active .fijo .botones a.btnConstantes span {
  transform: translateY(-100%);
}
section .fijo .botones a.btnDefecto span {
  transform: translateY(-100%);
}
section.active .fijo .botones a.btnDefecto span {
  transform: translateY(0%);
}
section.active .fijo .botones a.btnDefecto:hover span {
  transform: translateY(-100%);
}
section .fijo .botones a:before {
  content: "";
  position: absolute;
  bottom: -270px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 270px;
  background: linear-gradient(315deg, #f0e796, #f7a944);
  border-radius: 50%;
  transition: 0.4s;
}
section .fijo .botones a.btnDefecto:before {
  background: linear-gradient(315deg, #f0e796, #f7a944);
}
section .fijo .botones a.btnConstantes:before {
  background: linear-gradient(315deg, #f0e796, #f7a944);
}
section.active .fijo .botones a.btnConstantes:before {
  background: linear-gradient(315deg, #f0e796, #f7a944);
}
section .fijo .botones a:hover:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnConstantes:before {
  bottom: -150px;
}
section .fijo .botones a.btnDefecto:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnDefecto:hover:before {
  bottom: -150px;
}
section.active .fijo .botones a.btnDefecto:before {
  bottom: -270px;
}
section .acordeon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  width: 95vw;
  top: 300px;
  transition: 0.5s;
}
@keyframes init-section {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
@keyframes init-acordeon-element {
  0% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(0);
  }
}
section .acordeon .contenidoBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section .acordeon .opcion {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  max-width: 800px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 700;
  background: #3f51b5;
  color: #ccfdff;
  cursor: pointer;
  transition: 0.25s;
  overflow: hidden;
}
section .acordeon .opcion::after {
  content: "";
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20%;
  transform: skew(-45deg);
  background: rgba(255, 255, 255, 0.8);
  filter: blur(20px);
  transition: 0.35s;
}
section .acordeon .opcion:hover::after {
  left: 120%;
}
section .acordeon .contenidoBx.active .opcion::after {
  left: 120%;
}
section .acordeon .contenidoBx.active .opcion {
  max-width: 850px;
  width: 90vw;
  padding: 12px;
  padding-left: 40px;
  color: #ebc087;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.4);
  letter-spacing: 7px;
}
section .acordeon .opcion:hover {
  max-width: 850px;
  width: 90vw;
  padding: 12px;
  padding-left: 40px;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.4);
  letter-spacing: 7px;
}
section .acordeon .opcion::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1em;
}
section .acordeon .contenidoBx.active .opcion::before {
  content: "—";
}
section .acordeon .subopcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 10px;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 500;
  width: 95%;
  left: 2.5%;
  background: #3fb1b5;
  color: #ccfdff;
  cursor: pointer;
  z-index: 2;
  transition: 0.35s;
}
section .acordeon .subopcion:hover {
  width: 100%;
  left: 0%;
}
section .acordeon .subcontenidoBx.active .subopcion {
  background: #3f51b5;
  color: #ebc087;
  width: 100%;
  left: 0%;
}
section .acordeon .subopcion::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
section .acordeon .subcontenidoBx.active .subopcion::before {
  content: "—";
}
section .acordeon .contenido {
  width: 90%;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}
section .acordeon #contenidoPesos {
  animation: init-acordeon-element 0.35s ease-in;
}
section .acordeon #contenidoNaf {
  animation: init-acordeon-element 0.5s ease-in;
}
section .acordeon #contenidoEmbarazo {
  animation: init-acordeon-element 0.75s ease-in;
}
section .acordeon .contenidoBx.active .contenido {
  height: auto;
  overflow: visible;
  transform: translateX(0vw);
}
section .acordeon .subcontenido {
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.3s;
  width: 85%;
  position: relative;
  left: 7.5%;
  overflow: hidden;
  z-index: 3;
}
section .acordeon .subcontenido .grid {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 50px;
}
section .acordeon .subcontenido #populationGrid {
  grid-template-columns: 100%;
}
section .acordeon .subcontenido #populationGrid .valor {
  justify-content: center;
  margin-top: 10px;
}
section .acordeon .subcontenido #populationGrid .medida {
  display: flex;
  position: relative;
  justify-content: right;
  height: 50px;
  margin-right: 20px;
}
section .acordeon .subcontenido #populationGrid .medida h1 {
  position: relative;
  font-size: 70px;
  top: -20px;
  letter-spacing: 0px;
  font-weight: 700;
  color: #3fb1b5;
  pointer-events: none;
}
section .acordeon .subcontenido #populationGrid .modificarBtn {
  width: 70%;
  left: 15%;
}
section .acordeon .subcontenido #populationGrid .dropdown {
  width: 70%;
  left: 15%;
}
section .acordeon .subcontenido #constantsGrid {
  grid-template-columns: 100%;
}
section .acordeon .subcontenido #constantsGrid .valor {
  justify-content: center;
  margin-top: 40px;
}
section .acordeon .subcontenido #constantsGrid .valor h1 {
  font-size: 75px;
}
section .acordeon .subcontenido #constantsGrid .medida {
  display: flex;
  position: relative;
  justify-content: right;
  height: 50px;
  margin-right: 20px;
}
section .acordeon .subcontenido #constantsGrid .modificarBtn {
  width: 60%;
  left: 20%;
}
section .acordeon .subcontenido #constantsGrid .dropdown {
  width: 60%;
  left: 20%;
}
section .acordeon .subcontenido #constantsInputs {
  margin-top: -10px;
}
section .acordeon .subcontenido #constantsInputs #primerConst {
  color: rgb(235, 88, 88);
}
section .acordeon .subcontenido #constantsInputs #segundaConst {
  color: rgb(49, 189, 107);
}
section .acordeon .subcontenido #constantsInputs #tercerConst {
  color: rgb(212, 182, 44);
}
section .acordeon .subcontenido #constantsInputs .constantInputLabel {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
section .acordeon .subcontenido #constantsInputs .constantInputLabel h1 {
  margin-right: 6px;
}
section .acordeon .subcontenido #constantsInputs .constantInputLabel {
  position: relative;
  left: 40px;
}
section .acordeon .subcontenidoBx.active .subcontenido {
  height: auto;
  transform: translateX(0);
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: visible;
}
section .acordeon .subcontenido .dropdown {
  position: relative;
  top: 0;
  display: flex;
}
section .acordeon .subcontenido .dropdown select {
  background: #3fb1b5;
  padding: 10px;
  color: #ccfdff;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
#selectWeightsWomen {
  text-transform: uppercase;
}
#selectWeightsWomen option {
  text-transform: uppercase;
}
#selectWeightsMen {
  text-transform: uppercase;
}
#selectWeightsMen option {
  text-transform: uppercase;
}
#selectNafMinors {
  font-size: 16.5px;
}
#selectNafMinors option {
  font-size: 19px;
}
#selectNafAdults {
  font-size: 16.5px;
}
#selectNafAdults option {
  font-size: 19px;
}
#selectPregnancyEnergy {
  font-size: 16px;
}
#selectPregnancyEnergy option {
  font-size: 19px;
}
section .acordeon .subcontenido .dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 25px;
  z-index: 2;
  background: #3f51b5;
  transition: 0.2s;
  pointer-events: none;
}
section .acordeon .subcontenido .dropdown:hover:before {
  background: #4f62ce;
}
section .acordeon .subcontenido .dropdown svg {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccfdff;
  z-index: 3;
  pointer-events: none;
}
section .acordeon .subcontenido .valor {
  display: flex;
  position: relative;
  height: 100px;
  padding-left: 15px;
}
section .acordeon .subcontenido .valor h1 {
  position: relative;
  top: -22px;
  font-size: 120px;
  letter-spacing: 0px;
  font-weight: 800;
  color: #3fb1b5;
  pointer-events: none;
}
section .acordeon .subcontenido .valor #primerConst {
  color: rgb(235, 88, 88);
}
section .acordeon .subcontenido .valor #segundaConst {
  color: rgb(49, 189, 107);
}
section .acordeon .subcontenido .valor #tercerConst {
  color: rgb(212, 182, 44);
}
section .acordeon .subcontenido .modificarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #01bd75e7;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #ccfdff;
  cursor: pointer;
  content: "MODIFICAR";
  transition: 0.2s;
}
section .acordeon .subcontenido .modificarBtn #canBtn {
  display: none;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn #canBtn {
  display: block;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn #modBtn {
  display: none;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn {
  background: #cc4141d7;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn:hover {
  background: #b32b2be7;
}
section .acordeon .subcontenido .modificarBtn:hover {
  background: #03a165;
}
section .acordeon .subcontenido .modificarBtn span {
  font-size: 25px;
  letter-spacing: 3px;
  transition: 0.2s;
  cursor: pointer;
}
section .acordeon .subcontenido .modificarBtn:hover span {
  font-size: 26px;
  letter-spacing: 4px;
}
section .acordeon .subcontenido .modificar {
  position: relative;
  height: 0;
  margin-top: 0px;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.3s;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificar {
  margin-top: 25px;
  transform: translateX(0);
  height: auto;
  overflow: visible;
}
section .acordeon .subcontenido .modificar h1 {
  position: relative;
  left: -40px;
  bottom: 0px;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #3f51b5;
}
section .acordeon .subcontenido .modificar input {
  width: 95%;
  max-width: 450px;
  padding: 5px;
  background: #3fb1b5;
  color: #ccfdff;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
#minorPrevalenceInputs h1 {
  left: initial;
  margin-bottom: 10px;
  justify-content: center;
}
#minorPrevalenceInputs h2 {
  position: relative;
  color: #3f51b5;
  left: -60px;
  margin-top: 5px;
  font-size: 25px;
}
section .acordeon .subcontenido .modificar .confirmarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 180px;
  height: 40px;
  position: relative;
  background: #01bd75e7;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ccfdff;
  cursor: pointer;
  transition: 0.2s;
}
section .acordeon .subcontenido .modificar .confirmarBtn:hover {
  background: #09a368;
}
section .acordeon .subcontenido .modificar .confirmarBtn span {
  letter-spacing: 4px;
  transition: 0.2s;
}
section .acordeon .subcontenido .modificar .confirmarBtn:hover span {
  font-size: 16px;
  letter-spacing: 5px;
}
section .acordeon .subcontenido .modificar input::placeholder {
  color: #ccfdff;
}
@media (max-width: 1435px) {
  section .color {
    display: none;
  }
}
@media (max-width: 1200px) {
  section .acordeon .subcontenido #constantsGrid .valor h1 {
    font-size: 40px;
  }
  section .acordeon .subcontenido #constantsInputs {
    margin-top: -50px;
  }
}
@media (max-width: 980px) {
  section .fijo .titulo {
    top: -39px;
  }
  section .fijo .titulo h1:nth-child(1) {
    top: 32px;
    left: -80px;
    font-size: 45px;
  }
  section.active .fijo .titulo h1:nth-child(1) {
    left: 80px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 100px;
  }
  section .fijo .botones {
    top: -50px;
  }
}
@media (max-width: 600px) {
  section .fijo .titulo {
    top: -20px;
  }
  section .fijo .titulo h1:nth-child(1) {
    top: 22px;
    left: -40px;
    font-size: 30px;
  }
  section.active .fijo .titulo h1:nth-child(1) {
    left: 40px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 70px;
  }
  section .fijo .botones {
    flex-direction: column;
    top: -30px;
  }
  section .acordeon {
    top: 310px;
  }
  section .fijo {
    height: 210px;
  }
  section .acordeon .subcontenido .grid {
    position: relative;
    grid-template-columns: 90%;
    grid-template-rows: 50px 130px 50px;
    left: 5%;
  }
  section .acordeon .subcontenido #populationGrid {
    grid-template-columns: 100%;
    grid-template-rows: 50px;
    left: 0%;
  }
  section .acordeon .subcontenido #populationGrid .dropdown {
    width: 90%;
    left: 5%;
  }
  section .acordeon .subcontenido #populationGrid .modificarBtn {
    width: 90%;
    left: 5%;
  }
  section .acordeon .subcontenido #populationGrid .valor h1 {
    top: -15px;
  }
  section .acordeon .subcontenido #constantsGrid {
    grid-template-columns: 100%;
    grid-template-rows: 50px;
    left: 0%;
  }
  section .acordeon .subcontenido #constantsGrid .dropdown {
    width: 90%;
    left: 5%;
  }
  section .acordeon .subcontenido #constantsGrid .modificarBtn {
    width: 90%;
    left: 5%;
  }
  section .acordeon .subcontenido #constantsGrid .valor h1 {
    top: -15px;
  }
  section .acordeon .subcontenido .valor h1 {
    top: -10px;
  }
  section .acordeon .subcontenido .valor {
    justify-content: center;
    padding-left: 0px;
  }
  #minorPrevalenceInputs h2 {
    left: 0px;
  }
  section .acordeon .subcontenido #constantsGrid .valor h1 {
    font-size: 30px;
  }
  section .acordeon .subcontenido #constantsInputs {
    margin-top: -75px;
  }
}
@media (max-width: 480px) {
  section .acordeon .subcontenido #constantsInputs .constantInputLabel h1 {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  section .fijo {
    top: 60px;
  }
  section .acordeon {
    top: 280px;
  }
  section .fijo .titulo {
    top: 20px;
  }
  section .fijo .titulo h1:nth-child(1) {
    position: relative;
    top: -27px;
    left: -5px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.3);
  }
  section.active .fijo .titulo h1:nth-child(1) {
    left: 5px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 55px;
    position: relative;
    top: -43px;
    left: 0px;
    color: #ccfdff;
    transition: 0.5s;
  }
}
