<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>CONFIGURACION DE</h1>
            <h1>VALORES</h1>
        </div>
    </div>
    <div class="acordeon">
        <div id="pesos" class="contenidoBx">
            <span (click)="toggleContenido('pesos')" class="opcion">PESOS</span>
            <div class="contenido">
                <div id="pesosHombres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('pesosHombres')" class="subopcion">HOMBRES</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select>
                                    <option>0 MESES</option>
                                    <option>1 MES</option>
                                    <option>2 MESES</option>
                                    <option>3 MESES</option>
                                    <option>4 MESES</option>
                                    <option>5 MESES</option>
                                    <option>6 MESES</option>
                                    <option>7 MESES</option>
                                    <option>8 MESES</option>
                                    <option>9 MESES</option>
                                    <option>10 MESES</option>
                                    <option>11 MESES</option>
                                    <option>12 MESES</option>
                                    <option>1 AÑO</option>
                                    <option>2 AÑOS</option>
                                    <option>3 AÑOS</option>
                                    <option>4 AÑOS</option>
                                    <option>5 AÑOS</option>
                                    <option>6 AÑOS</option>
                                    <option>7 AÑOS</option>
                                    <option>8 AÑOS</option>
                                    <option>9 AÑOS</option>
                                    <option>10 AÑOS</option>
                                    <option>11 AÑOS</option>
                                    <option>12 AÑOS</option>
                                    <option>13 AÑOS</option>
                                    <option>14 AÑOS</option>
                                    <option>15 AÑOS</option>
                                    <option>16 AÑOS</option>
                                    <option>17 AÑOS</option>
                                    <option>18-29 AÑOS</option>
                                    <option>30-59 AÑOS</option>
                                    <option>60+ AÑOS</option>
                                </select>
                            </div>
                            <div class="valor">
                                <h1>100kg</h1>
                            </div>
                            <div (click)="toggleModificar('pesosHombres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div>
                        <div class="modificar">
                            <h1>MODIFICAR PESO:</h1>
                            <input type="text" placeholder="Ingrese el nuevo valor (kg)">
                            <div class="confirmarBtn">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pesosMujeres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('pesosMujeres')" class="subopcion">MUJERES</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select>
                                    <option>0 MESES</option>
                                    <option>1 MES</option>
                                    <option>2 MESES</option>
                                    <option>3 MESES</option>
                                    <option>4 MESES</option>
                                    <option>5 MESES</option>
                                    <option>6 MESES</option>
                                    <option>7 MESES</option>
                                    <option>8 MESES</option>
                                    <option>9 MESES</option>
                                    <option>10 MESES</option>
                                    <option>11 MESES</option>
                                    <option>12 MESES</option>
                                    <option>1 AÑO</option>
                                    <option>2 AÑOS</option>
                                    <option>3 AÑOS</option>
                                    <option>4 AÑOS</option>
                                    <option>5 AÑOS</option>
                                    <option>6 AÑOS</option>
                                    <option>7 AÑOS</option>
                                    <option>8 AÑOS</option>
                                    <option>9 AÑOS</option>
                                    <option>10 AÑOS</option>
                                    <option>11 AÑOS</option>
                                    <option>12 AÑOS</option>
                                    <option>13 AÑOS</option>
                                    <option>14 AÑOS</option>
                                    <option>15 AÑOS</option>
                                    <option>16 AÑOS</option>
                                    <option>17 AÑOS</option>
                                    <option>18-29 AÑOS</option>
                                    <option>30-59 AÑOS</option>
                                    <option>60+ AÑOS</option>
                                </select>
                            </div>
                            <div class="valor">
                                <h1>62kg</h1>
                            </div>
                            <div (click)="toggleModificar('pesosMujeres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div> 
                        <div class="modificar">
                            <h1>MODIFICAR PESO:</h1>
                            <input type="text" placeholder="Ingrese el nuevo valor (kg)">
                            <div class="confirmarBtn">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenidoBx">
                <span class="opcion">OPCION 2</span>
            </div>
            <div class="contenidoBx">
                <span class="opcion">OPCION 3</span>
            </div>
            <div class="contenidoBx">
                <span class="opcion">OPCION 4</span>
            </div>
            <div class="contenidoBx">
                <span class="opcion">OPCION 5</span>
            </div>
        </div>
    </div>

</section>

