* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  min-height: 100vh;
  background: #ccfdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}
section .color {
  position: absolute;
  filter: blur(100px);
  border-radius: 50%;
  transition: 0.3s;
}
section .color:nth-child(1) {
  top: -160px;
  right: 50px;
  width: 450px;
  height: 450px;
  background: #abedf0;
}
section .color:nth-child(2) {
  top: 50px;
  left: -150px;
  width: 600px;
  height: 600px;
  background: #aee5e7;
}
section .color:nth-child(3) {
  bottom: -120px;
  right: 300px;
  width: 500px;
  height: 500px;
  background: #a4f3f3;
}
section .fijo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  width: 90vw;
  max-width: 1000px;
  top: 90px;
}
section .fijo .titulo h1:nth-child(1) {
  position: relative;
  top: -46px;
  left: -100px;
  font-size: 80px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}
section .fijo .titulo h1:nth-child(2) {
  font-size: 100px;
  position: relative;
  top: -26px;
  left: 50px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ccfdff;
  transition: 0.5s;
}
section .acordeon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  width: 95vw;
  top: 220px;
}
section .acordeon .contenidoBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section .acordeon .opcion {
  position: relative;
  padding: 22px;
  padding-left: 40px;
  margin: 10px;
  width: 80vw;
  max-width: 800px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 700;
  background: #3f51b5;
  color: #ccfdff;
  cursor: pointer;
  transition: 0.25s;
  overflow: hidden;
}
section .acordeon .opcion::after {
  content: "";
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20%;
  transform: skew(-45deg);
  background: rgba(255, 255, 255, 0.8);
  filter: blur(20px);
  transition: 0.35s;
}
section .acordeon .opcion:hover::after {
  left: 120%;
}
section .acordeon .contenidoBx.active .opcion::after {
  left: 120%;
}
section .acordeon .contenidoBx.active .opcion {
  max-width: 850px;
  width: 90vw;
  padding: 25px;
  padding-left: 40px;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.4);
  letter-spacing: 7px;
}
section .acordeon .opcion:hover {
  max-width: 850px;
  width: 90vw;
  padding: 25px;
  padding-left: 40px;
  box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.4);
  letter-spacing: 7px;
}
section .acordeon .opcion::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1em;
}
section .acordeon .contenidoBx.active .opcion::before {
  content: "—";
}
section .acordeon .subopcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 15px;
  padding-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 500;
  width: 95%;
  left: 2.5%;
  background: #3fb1b5;
  color: #ccfdff;
  cursor: pointer;
  z-index: 2;
  transition: 0.35s;
}
section .acordeon .subopcion:hover {
  width: 100%;
  left: 0%;
}
section .acordeon .subcontenidoBx.active .subopcion {
  background: #3f51b5;
  width: 100%;
  left: 0%;
}
section .acordeon .subopcion::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
section .acordeon .subcontenidoBx.active .subopcion::before {
  content: "—";
}
section .acordeon .contenido {
  width: 90%;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}
section .acordeon .contenidoBx.active .contenido {
  height: auto;
  overflow: visible;
  transform: translateX(0vw);
}
section .acordeon .subcontenido {
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.3s;
  width: 85%;
  position: relative;
  left: 7.5%;
  overflow: hidden;
  z-index: 3;
}
section .acordeon .subcontenido .grid {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 50px;
}
section .acordeon .subcontenidoBx.active .subcontenido {
  height: auto;
  transform: translateX(0);
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: visible;
}
section .acordeon .subcontenido .dropdown {
  position: relative;
  top: 0;
  display: flex;
}
section .acordeon .subcontenido .dropdown select {
  background: #3fb1b5;
  padding: 10px;
  color: #ccfdff;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
section .acordeon .subcontenido .dropdown:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 25px;
  z-index: 2;
  background: #3f51b5;
  transition: 0.2s;
  pointer-events: none;
}
section .acordeon .subcontenido .dropdown:hover:before {
  background: #4f62ce;
}
section .acordeon .subcontenido .dropdown svg {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccfdff;
  z-index: 3;
  pointer-events: none;
}
section .acordeon .subcontenido .valor {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
  padding: 0;
}
section .acordeon .subcontenido .valor h1 {
  position: relative;
  bottom: -35px;
  font-size: 120px;
  letter-spacing: 0px;
  font-weight: 800;
  color: #3fb1b5;
  pointer-events: none;
}
section .acordeon .subcontenido .modificarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  background: #01bd75e7;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #ccfdff;
  cursor: pointer;
  content: "MODIFICAR";
  transition: 0.2s;
}
section .acordeon .subcontenido .modificarBtn #canBtn {
  display: none;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn #canBtn {
  display: block;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn #modBtn {
  display: none;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn {
  background: #cc4141d7;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificarBtn:hover {
  background: #b32b2be7;
}
section .acordeon .subcontenido .modificarBtn:hover {
  background: #03a165;
}
section .acordeon .subcontenido .modificarBtn span {
  font-size: 25px;
  letter-spacing: 3px;
  transition: 0.2s;
  cursor: pointer;
}
section .acordeon .subcontenido .modificarBtn:hover span {
  font-size: 26px;
  letter-spacing: 4px;
}
section .acordeon .subcontenido .modificar {
  position: relative;
  height: 0;
  margin-top: 0px;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.3s;
}
section .acordeon .subcontenidoBx.mod .subcontenido .modificar {
  margin-top: 25px;
  transform: translateX(0);
  height: auto;
  overflow: visible;
}
section .acordeon .subcontenido .modificar h1 {
  position: relative;
  left: -30px;
  bottom: -18px;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #3f51b5;
}
section .acordeon .subcontenido .modificar input {
  width: 95%;
  max-width: 450px;
  padding: 5px;
  background: #3fb1b5;
  color: #ccfdff;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  outline: none;
  text-align: center;
}
section .acordeon .subcontenido .modificar .confirmarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 180px;
  height: 40px;
  position: relative;
  background: #01bd75e7;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ccfdff;
  cursor: pointer;
  transition: 0.2s;
}
section .acordeon .subcontenido .modificar .confirmarBtn:hover {
  width: 85%;
  max-width: 200px;
  background: #03a165;
}
section .acordeon .subcontenido .modificar .confirmarBtn span {
  font-size: 20px;
  letter-spacing: 4px;
  transition: 0.3s;
}
section .acordeon .subcontenido .modificar .confirmarBtn:hover span {
  font-size: 20px;
  letter-spacing: 6px;
}
section .acordeon .subcontenido .modificar input::placeholder {
  color: #ccfdff;
}
@media (max-width: 980px) {
  section .fijo .titulo h1:nth-child(1) {
    position: relative;
    top: -33px;
    left: -80px;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.3);
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 90px;
    position: relative;
    top: -29px;
    left: 0px;
    color: #ccfdff;
    transition: 0.5s;
  }
}
@media (max-width: 600px) {
  section .fijo .titulo h1:nth-child(1) {
    position: relative;
    top: -27px;
    left: -40px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 70px;
    position: relative;
    top: -37px;
    left: 0px;
    color: #ccfdff;
    transition: 0.5s;
  }
  section .acordeon .subcontenido .grid {
    position: relative;
    grid-template-columns: 90%;
    grid-template-rows: 50px 130px 50px;
    left: 5%;
  }
  section .acordeon .subcontenido .valor h1 {
    bottom: -40px;
  }
}
@media (max-width: 430px) {
  section .fijo .titulo h1:nth-child(1) {
    position: relative;
    top: -27px;
    left: -5px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.3);
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 55px;
    position: relative;
    top: -43px;
    left: 0px;
    color: #ccfdff;
    transition: 0.5s;
  }
}
