<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>CONFIGURACION DE</h1>
            <h1>VALORES</h1>
        </div>
    </div>
    <div class="acordeon">
        <div class="pesos">
            <span (click)="togglePesos()" class="opcion">PESOS</span>
            <div class="contenido">
                <div class="pesosHombres">
                    <span (click)="togglePesosHombres()" class="subopcion">HOMBRES</span>
                    <div class="subcontenido"> 
                        <ul>
                            <li>
                                <p>0 meses</p>
                            </li>
                            <li>
                                <p>1 mes</p>
                            </li>
                            <li>
                                <p>2 meses</p>
                            </li>
                            <li>
                                <p>3 meses</p>
                            </li>
                            <li>
                                <p>4 meses</p>
                            </li>
                            <li>
                                <p>5 meses</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 meses</p>
                            </li>
                            <li>
                                <p>8 meses</p>
                            </li>
                            <li>
                                <p>9 meses</p>
                            </li>
                            <li>
                                <p>10 meses</p>
                            </li>
                            <li>
                                <p>11 meses</p>
                            </li>
                            <li>
                                <p>12 meses</p>
                            </li>
                            <li>
                                <p>1 año</p>
                            </li>
                            <li>
                                <p>2 años</p>
                            </li>
                            <li>
                                <p>3 años</p>
                            </li>
                            <li>
                                <p>4 años</p>
                            </li>
                            <li>
                                <p>5 años</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 años</p>
                            </li>
                            <li>
                                <p>8 años</p>
                            </li>
                            <li>
                                <p>9 años</p>
                            </li>
                            <li>
                                <p>10 años</p>
                            </li>
                            <li>
                                <p>11 años</p>
                            </li>
                            <li>
                                <p>12 años</p>
                            </li>
                            <li>
                                <p>13 años</p>
                            </li>
                            <li>
                                <p>14 años</p>
                            </li>
                            <li>
                                <p>15 años</p>
                            </li>
                            <li>
                                <p>16 años</p>
                            </li>
                            <li>
                                <p>17 años</p>
                            </li>
                            <li>
                                <p>18-29 años</p>
                            </li>
                            <li>
                                <p>30-59 años</p>
                            </li>
                            <li>
                                <p>60+ años</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pesosMujeres">
                    <span (click)="togglePesosMujeres()" class="subopcion">MUJERES</span>
                    <div class="subcontenido pesosMujeres"> 
                        <ul>
                            <li>
                                <p>0 meses</p>
                            </li>
                            <li>
                                <p>1 mes</p>
                            </li>
                            <li>
                                <p>2 meses</p>
                            </li>
                            <li>
                                <p>3 meses</p>
                            </li>
                            <li>
                                <p>4 meses</p>
                            </li>
                            <li>
                                <p>5 meses</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 meses</p>
                            </li>
                            <li>
                                <p>8 meses</p>
                            </li>
                            <li>
                                <p>9 meses</p>
                            </li>
                            <li>
                                <p>10 meses</p>
                            </li>
                            <li>
                                <p>11 meses</p>
                            </li>
                            <li>
                                <p>12 meses</p>
                            </li>
                            <li>
                                <p>1 año</p>
                            </li>
                            <li>
                                <p>2 años</p>
                            </li>
                            <li>
                                <p>3 años</p>
                            </li>
                            <li>
                                <p>4 años</p>
                            </li>
                            <li>
                                <p>5 años</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 años</p>
                            </li>
                            <li>
                                <p>8 años</p>
                            </li>
                            <li>
                                <p>9 años</p>
                            </li>
                            <li>
                                <p>10 años</p>
                            </li>
                            <li>
                                <p>11 años</p>
                            </li>
                            <li>
                                <p>12 años</p>
                            </li>
                            <li>
                                <p>13 años</p>
                            </li>
                            <li>
                                <p>14 años</p>
                            </li>
                            <li>
                                <p>15 años</p>
                            </li>
                            <li>
                                <p>16 años</p>
                            </li>
                            <li>
                                <p>17 años</p>
                            </li>
                            <li>
                                <p>18-29 años</p>
                            </li>
                            <li>
                                <p>30-59 años</p>
                            </li>
                            <li>
                                <p>60+ años</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pesos">
            <span (click)="togglePesos()" class="opcion">PESOS</span>
            <div class="contenido">
                <div class="pesosHombres">
                    <span (click)="togglePesosHombres()" class="subopcion">HOMBRES</span>
                    <div class="subcontenido"> 
                        <ul>
                            <li>
                                <p>0 meses</p>
                            </li>
                            <li>
                                <p>1 mes</p>
                            </li>
                            <li>
                                <p>2 meses</p>
                            </li>
                            <li>
                                <p>3 meses</p>
                            </li>
                            <li>
                                <p>4 meses</p>
                            </li>
                            <li>
                                <p>5 meses</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 meses</p>
                            </li>
                            <li>
                                <p>8 meses</p>
                            </li>
                            <li>
                                <p>9 meses</p>
                            </li>
                            <li>
                                <p>10 meses</p>
                            </li>
                            <li>
                                <p>11 meses</p>
                            </li>
                            <li>
                                <p>12 meses</p>
                            </li>
                            <li>
                                <p>1 año</p>
                            </li>
                            <li>
                                <p>2 años</p>
                            </li>
                            <li>
                                <p>3 años</p>
                            </li>
                            <li>
                                <p>4 años</p>
                            </li>
                            <li>
                                <p>5 años</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 años</p>
                            </li>
                            <li>
                                <p>8 años</p>
                            </li>
                            <li>
                                <p>9 años</p>
                            </li>
                            <li>
                                <p>10 años</p>
                            </li>
                            <li>
                                <p>11 años</p>
                            </li>
                            <li>
                                <p>12 años</p>
                            </li>
                            <li>
                                <p>13 años</p>
                            </li>
                            <li>
                                <p>14 años</p>
                            </li>
                            <li>
                                <p>15 años</p>
                            </li>
                            <li>
                                <p>16 años</p>
                            </li>
                            <li>
                                <p>17 años</p>
                            </li>
                            <li>
                                <p>18-29 años</p>
                            </li>
                            <li>
                                <p>30-59 años</p>
                            </li>
                            <li>
                                <p>60+ años</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pesosMujeres">
                    <span (click)="togglePesosMujeres()" class="subopcion">MUJERES</span>
                    <div class="subcontenido pesosMujeres"> 
                        <ul>
                            <li>
                                <p>0 meses</p>
                            </li>
                            <li>
                                <p>1 mes</p>
                            </li>
                            <li>
                                <p>2 meses</p>
                            </li>
                            <li>
                                <p>3 meses</p>
                            </li>
                            <li>
                                <p>4 meses</p>
                            </li>
                            <li>
                                <p>5 meses</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 meses</p>
                            </li>
                            <li>
                                <p>8 meses</p>
                            </li>
                            <li>
                                <p>9 meses</p>
                            </li>
                            <li>
                                <p>10 meses</p>
                            </li>
                            <li>
                                <p>11 meses</p>
                            </li>
                            <li>
                                <p>12 meses</p>
                            </li>
                            <li>
                                <p>1 año</p>
                            </li>
                            <li>
                                <p>2 años</p>
                            </li>
                            <li>
                                <p>3 años</p>
                            </li>
                            <li>
                                <p>4 años</p>
                            </li>
                            <li>
                                <p>5 años</p>
                            </li>
                            <li>
                                <p>6 mes</p>
                            </li>
                            <li>
                                <p>7 años</p>
                            </li>
                            <li>
                                <p>8 años</p>
                            </li>
                            <li>
                                <p>9 años</p>
                            </li>
                            <li>
                                <p>10 años</p>
                            </li>
                            <li>
                                <p>11 años</p>
                            </li>
                            <li>
                                <p>12 años</p>
                            </li>
                            <li>
                                <p>13 años</p>
                            </li>
                            <li>
                                <p>14 años</p>
                            </li>
                            <li>
                                <p>15 años</p>
                            </li>
                            <li>
                                <p>16 años</p>
                            </li>
                            <li>
                                <p>17 años</p>
                            </li>
                            <li>
                                <p>18-29 años</p>
                            </li>
                            <li>
                                <p>30-59 años</p>
                            </li>
                            <li>
                                <p>60+ años</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--<div class="acordeon">
       <div class="contenidoBx">
           <div class="subtitulo">Pesos</div>
           <div class="contenido">
                <div class="subsubtitulo">Hombres</div>
                <div class="subcontenido">
                    <ul>
                        <li>
                            <p>0 meses</p>
                        </li>
                        <li>
                            <p>1 mes</p>
                        </li>
                        <li>
                            <p>2 meses</p>
                        </li>
                        <li>
                            <p>3 meses</p>
                        </li>
                        <li>
                            <p>4 meses</p>
                        </li>
                        <li>
                            <p>5 meses</p>
                        </li>
                        <li>
                            <p>6 mes</p>
                        </li>
                        <li>
                            <p>7 meses</p>
                        </li>
                        <li>
                            <p>8 meses</p>
                        </li>
                        <li>
                            <p>9 meses</p>
                        </li>
                        <li>
                            <p>10 meses</p>
                        </li>
                        <li>
                            <p>11 meses</p>
                        </li>
                        <li>
                            <p>12 meses</p>
                        </li>
                        <li>
                            <p>1 año</p>
                        </li>
                        <li>
                            <p>2 años</p>
                        </li>
                        <li>
                            <p>3 años</p>
                        </li>
                        <li>
                            <p>4 años</p>
                        </li>
                        <li>
                            <p>5 años</p>
                        </li>
                        <li>
                            <p>6 mes</p>
                        </li>
                        <li>
                            <p>7 años</p>
                        </li>
                        <li>
                            <p>8 años</p>
                        </li>
                        <li>
                            <p>9 años</p>
                        </li>
                        <li>
                            <p>10 años</p>
                        </li>
                        <li>
                            <p>11 años</p>
                        </li>
                        <li>
                            <p>12 años</p>
                        </li>
                        <li>
                            <p>13 años</p>
                        </li>
                        <li>
                            <p>14 años</p>
                        </li>
                        <li>
                            <p>15 años</p>
                        </li>
                        <li>
                            <p>16 años</p>
                        </li>
                        <li>
                            <p>17 años</p>
                        </li>
                        <li>
                            <p>18-29 años</p>
                        </li>
                        <li>
                            <p>30-59 años</p>
                        </li>
                        <li>
                            <p>60+ años</p>
                        </li>
                    </ul>
                </div>
                <div class="subsubtitulo">Mujeres</div>
                <div class="subcontenido">
                    <ul>
                        <li>
                            <p>0 meses</p>
                        </li>
                        <li>
                            <p>1 mes</p>
                        </li>
                        <li>
                            <p>2 meses</p>
                        </li>
                        <li>
                            <p>3 meses</p>
                        </li>
                        <li>
                            <p>4 meses</p>
                        </li>
                        <li>
                            <p>5 meses</p>
                        </li>
                        <li>
                            <p>6 mes</p>
                        </li>
                        <li>
                            <p>7 meses</p>
                        </li>
                        <li>
                            <p>8 meses</p>
                        </li>
                        <li>
                            <p>9 meses</p>
                        </li>
                        <li>
                            <p>10 meses</p>
                        </li>
                        <li>
                            <p>11 meses</p>
                        </li>
                        <li>
                            <p>12 meses</p>
                        </li>
                        <li>
                            <p>1 año</p>
                        </li>
                        <li>
                            <p>2 años</p>
                        </li>
                        <li>
                            <p>3 años</p>
                        </li>
                        <li>
                            <p>4 años</p>
                        </li>
                        <li>
                            <p>5 años</p>
                        </li>
                        <li>
                            <p>6 mes</p>
                        </li>
                        <li>
                            <p>7 años</p>
                        </li>
                        <li>
                            <p>8 años</p>
                        </li>
                        <li>
                            <p>9 años</p>
                        </li>
                        <li>
                            <p>10 años</p>
                        </li>
                        <li>
                            <p>11 años</p>
                        </li>
                        <li>
                            <p>12 años</p>
                        </li>
                        <li>
                            <p>13 años</p>
                        </li>
                        <li>
                            <p>14 años</p>
                        </li>
                        <li>
                            <p>15 años</p>
                        </li>
                        <li>
                            <p>16 años</p>
                        </li>
                        <li>
                            <p>17 años</p>
                        </li>
                        <li>
                            <p>18-29 años</p>
                        </li>
                        <li>
                            <p>30-59 años</p>
                        </li>
                        <li>
                            <p>60+ años</p>
                        </li>
                    </ul>
                </div>
           </div>
       </div>
       <div class="contenidoBx">
            <div class="subtitulo">E° Crecimiento</div>
            <div class="contenido">
                <ul class="listaPesos">
                    <li>
                        <div class="subsubtitulo hombre">Hombres</div>
                        <div class="subcontenido">
                            <ul>
                                <li>
                                    <p>0 meses</p>
                                </li>
                                <li>
                                    <p>1 mes</p>
                                </li>
                                <li>
                                    <p>2 meses</p>
                                </li>
                                <li>
                                    <p>3 meses</p>
                                </li>
                                <li>
                                    <p>4 meses</p>
                                </li>
                                <li>
                                    <p>5 meses</p>
                                </li>
                                <li>
                                    <p>6 mes</p>
                                </li>
                                <li>
                                    <p>7 meses</p>
                                </li>
                                <li>
                                    <p>8 meses</p>
                                </li>
                                <li>
                                    <p>9 meses</p>
                                </li>
                                <li>
                                    <p>10 meses</p>
                                </li>
                                <li>
                                    <p>11 meses</p>
                                </li>
                                <li>
                                    <p>12 meses</p>
                                </li>
                                <li>
                                    <p>1 año</p>
                                </li>
                                <li>
                                    <p>2 años</p>
                                </li>
                                <li>
                                    <p>3 años</p>
                                </li>
                                <li>
                                    <p>4 años</p>
                                </li>
                                <li>
                                    <p>5 años</p>
                                </li>
                                <li>
                                    <p>6 mes</p>
                                </li>
                                <li>
                                    <p>7 años</p>
                                </li>
                                <li>
                                    <p>8 años</p>
                                </li>
                                <li>
                                    <p>9 años</p>
                                </li>
                                <li>
                                    <p>10 años</p>
                                </li>
                                <li>
                                    <p>11 años</p>
                                </li>
                                <li>
                                    <p>12 años</p>
                                </li>
                                <li>
                                    <p>13 años</p>
                                </li>
                                <li>
                                    <p>14 años</p>
                                </li>
                                <li>
                                    <p>15 años</p>
                                </li>
                                <li>
                                    <p>16 años</p>
                                </li>
                                <li>
                                    <p>17 años</p>
                                </li>
                                <li>
                                    <p>18-29 años</p>
                                </li>
                                <li>
                                    <p>30-59 años</p>
                                </li>
                                <li>
                                    <p>60+ años</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="subsubtitulo mujer">Mujeres</div>
                        <div class="subcontenido">
                            <ul>
                                <li>
                                    <p>0 meses</p>
                                </li>
                                <li>
                                    <p>1 mes</p>
                                </li>
                                <li>
                                    <p>2 meses</p>
                                </li>
                                <li>
                                    <p>3 meses</p>
                                </li>
                                <li>
                                    <p>4 meses</p>
                                </li>
                                <li>
                                    <p>5 meses</p>
                                </li>
                                <li>
                                    <p>6 mes</p>
                                </li>
                                <li>
                                    <p>7 meses</p>
                                </li>
                                <li>
                                    <p>8 meses</p>
                                </li>
                                <li>
                                    <p>9 meses</p>
                                </li>
                                <li>
                                    <p>10 meses</p>
                                </li>
                                <li>
                                    <p>11 meses</p>
                                </li>
                                <li>
                                    <p>12 meses</p>
                                </li>
                                <li>
                                    <p>1 año</p>
                                </li>
                                <li>
                                    <p>2 años</p>
                                </li>
                                <li>
                                    <p>3 años</p>
                                </li>
                                <li>
                                    <p>4 años</p>
                                </li>
                                <li>
                                    <p>5 años</p>
                                </li>
                                <li>
                                    <p>6 mes</p>
                                </li>
                                <li>
                                    <p>7 años</p>
                                </li>
                                <li>
                                    <p>8 años</p>
                                </li>
                                <li>
                                    <p>9 años</p>
                                </li>
                                <li>
                                    <p>10 años</p>
                                </li>
                                <li>
                                    <p>11 años</p>
                                </li>
                                <li>
                                    <p>12 años</p>
                                </li>
                                <li>
                                    <p>13 años</p>
                                </li>
                                <li>
                                    <p>14 años</p>
                                </li>
                                <li>
                                    <p>15 años</p>
                                </li>
                                <li>
                                    <p>16 años</p>
                                </li>
                                <li>
                                    <p>17 años</p>
                                </li>
                                <li>
                                    <p>18-29 años</p>
                                </li>
                                <li>
                                    <p>30-59 años</p>
                                </li>
                                <li>
                                    <p>60+ años</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
   </div>-->

</section>

