<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>CONFIGURACION DE</h1>
            <h1>VALORES</h1>
        </div>
        <div class="botones">
            <a class="btnDefecto" (click)="showDefault()">
                <span>POR DEFECTO</span>
                <span style="color: black">POR DEFECTO</span>
            </a>
            <a class="btnConstantes" (click)="showConstants()">
                <span>CONSTANTES</span>
                <span style="color: black">CONSTANTES</span>
            </a>
        </div>
    </div>
    <div class="acordeon porDefecto" id="acordeonPorDefecto">
        <div id="pesos" class="contenidoBx">
            <span (click)="toggleContenido('pesos')" class="opcion" id="contenidoPesos">PESOS</span>
            <div class="contenido">
                <div id="pesosHombres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('pesosHombres')" class="subopcion">MASCULINO</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectWeightsMen" tabindex="-1" (click)="changeValue('selectWeightsMen', 'men')">
                                    <ng-container *ngFor="let weight of weightsMen"> 
                                        <option *ngIf="selectedWeightMen.ageRange === weight.ageRange" selected="selected">{{weight.ageRange}}</option>
                                        <option *ngIf="selectedWeightMen.ageRange !== weight.ageRange">{{weight.ageRange}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="valor">
                                <h1>{{selectedWeightMen.value}}kg</h1>
                            </div>
                            <div (click)="toggleModificar('pesosHombres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div>
                        <div class="modificar">
                            <h1>MODIFICAR PESO:</h1>
                            <input type="number" id="pesosHombresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (kg)" autocomplete="off" min="0" max="1000">
                            <div class="confirmarBtn" (click)="modifyWeight('men')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pesosMujeres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('pesosMujeres')" class="subopcion">FEMENINO</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectWeightsWomen" tabindex="-1" (click)="changeValue('selectWeightsWomen', 'women')">
                                    <ng-container *ngFor="let weight of weightsWomen"> 
                                        <option *ngIf="selectedWeightWomen.ageRange === weight.ageRange" selected="selected">{{weight.ageRange}}</option>
                                        <option *ngIf="selectedWeightWomen.ageRange !== weight.ageRange">{{weight.ageRange}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="valor">
                                <h1>{{selectedWeightWomen.value}}kg</h1>
                            </div>
                            <div (click)="toggleModificar('pesosMujeres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div> 
                        <div class="modificar">
                            <h1>MODIFICAR PESO:</h1>
                            <input type="number" id="pesosMujeresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (kg)" autocomplete="off" min="0" max="1000">
                            <div class="confirmarBtn" (click)="modifyWeight('women')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="naf" class="contenidoBx">
            <span (click)="toggleContenido('naf')" class="opcion" id="contenidoNaf">NAF</span>
            <div class="contenido">
                <div id="nafMayores" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('nafMayores')" class="subopcion">MAYORES</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectNafAdults" tabindex="-1" (click)="changeValue('selectNafAdults', 'adults')">
                                    <ng-container *ngFor="let naf of nafAdults"> 
                                        <option *ngIf="selectedNafAdult.id === naf.id" selected="selected">{{naf.id}}</option>
                                        <option *ngIf="selectedNafAdult.id !== naf.id">{{naf.id}}</option>
                                    </ng-container>                                 
                                </select>
                            </div>
                            <div class="valor">
                                <h1>{{selectedNafAdult.value}}{{selectedNafAdultMeasurement}}</h1>
                            </div>
                            <div (click)="toggleModificar('nafMayores')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div>
                        <div class="modificar">
                            <h1 *ngIf="selectedNafAdultMeasurement === '%'">MODIFICAR VALOR:</h1>
                            <h1 *ngIf="selectedNafAdultMeasurement === ''">MODIFICAR COEF.:</h1>
                            <input *ngIf="selectedNafAdultMeasurement === '%'" type="number" id="nafMayoresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (%)" autocomplete="off">
                            <input *ngIf="selectedNafAdultMeasurement === ''" type="number" id="nafMayoresInput" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyNaf('adults')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nafMenores" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('nafMenores')" class="subopcion">MENORES</span>
                    <div class="subcontenido">
                        <div class="grid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectNafMinors" tabindex="-1" (click)="changeValue('selectNafMinors', 'minors')">
                                    <ng-container *ngFor="let naf of nafMinors"> 
                                        <option *ngIf="selectedNafMinor.id === naf.id" selected="selected">{{naf.id}}</option>
                                        <option *ngIf="selectedNafMinor.id !== naf.id">{{naf.id}}</option>
                                    </ng-container> 
                                </select>
                            </div>
                            <div class="valor">
                                <h1>{{selectedNafMinor.value}}%</h1>
                            </div>
                            <div (click)="toggleModificar('nafMenores')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                        </div> 
                        <div class="modificar" *ngIf="!(selectedNafMinor.id.includes('Prevalence'))">
                            <h1>MODIFICAR VALOR:</h1>
                            <input type="number" id="nafMenoresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (%)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyNaf('minors')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                        <div class="modificar" id="minorPrevalenceInputs" *ngIf="selectedNafMinor.id.includes('Prevalence')">
                            <h1>MODIFICAR VALORES:</h1>
                            <h2>minorLowPrevalence:</h2>
                            <input type="number" id="minorLowPrevalenceInput" tabindex="-1" placeholder="Ingrese el nuevo valor (%)" autocomplete="off">
                            <h2>minorModeratePrevalence:</h2>
                            <input type="number" id="minorModeratePrevalenceInput" tabindex="-1" placeholder="Ingrese el nuevo valor (%)" autocomplete="off">
                            <h2>minorIntensePrevalence:</h2>
                            <input type="number" id="minorIntensePrevalenceInput" tabindex="-1" placeholder="Ingrese el nuevo valor (%)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyMinorPrevalence()">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="embarazo" class="contenidoBx">
            <span (click)="toggleContenido('embarazo')" class="opcion" id="contenidoEmbarazo">EMBARAZO Y LACTANCIA</span>
            <div class="contenido">
                <div id="embarazoPoblacion" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('embarazoPoblacion')" class="subopcion">POBLACIÓN</span>
                    <div class="subcontenido">
                        <div class="grid" id="populationGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectPregnancyPopulation" tabindex="-1" (click)="changeValue('selectPregnancyPopulation', 'population')">
                                    <ng-container *ngFor="let pregnancy of pregnancyPopulation"> 
                                        <option *ngIf="selectedPregnancyPopulation.id === pregnancy.id" selected="selected">{{pregnancy.id}}</option>
                                        <option *ngIf="selectedPregnancyPopulation.id !== pregnancy.id">{{pregnancy.id}}</option>
                                    </ng-container>                                   
                                </select>
                            </div>
                            <div (click)="toggleModificar('embarazoPoblacion')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor">
                                <h1>{{selectedPregnancyPopulation.value}}</h1>
                            </div>
                            <div class="medida">
                                <h1>personas</h1>
                            </div>
                        </div>
                        <div class="modificar">
                            <h1>MODIFICAR VALOR:</h1>
                            <input type="number" id="embarazoPoblacionInput" tabindex="-1" placeholder="Ingrese la cantidad (personas)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyPregnancy('population')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="embarazoEnergia" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('embarazoEnergia')" class="subopcion">ENERGÍA</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectPregnancyEnergy" tabindex="-1"(click)="changeValue('selectPregnancyEnergy', 'energy')">
                                    <ng-container *ngFor="let pregnancy of pregnancyEnergy"> 
                                        <option *ngIf="selectedPregnancyEnergy.id === pregnancy.id" selected="selected">{{pregnancy.id}}</option>
                                        <option *ngIf="selectedPregnancyEnergy.id !== pregnancy.id">{{pregnancy.id}}</option>
                                    </ng-container>    
                                </select>
                            </div>
                            <div (click)="toggleModificar('embarazoEnergia')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor" id="kcald">
                                <h1>{{selectedPregnancyEnergy.value}}kcal/d</h1>
                            </div>
                        </div> 
                        <div class="modificar">
                            <h1>MODIFICAR VALOR:</h1>
                            <input type="number" id="embarazoEnergiaInput" tabindex="-1" placeholder="Ingrese el nuevo valor (kcal/d)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyPregnancy('energy')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="acordeon constantes" id="acordeonConstantes">
        <div id="get" class="contenidoBx">
            <span (click)="toggleContenido('get')" class="opcion">GET</span>
            <div class="contenido">
                <div id="getHombres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('getHombres')" class="subopcion">MASCULINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectGetMen" tabindex="-1" (click)="changeValue('selectGetMen', 'getMen')">
                                    <option *ngIf="selectedGETMenRange === '0 A 5 MESES'" selected="selected">0 A 5 MESES</option>
                                    <option *ngIf="selectedGETMenRange !== '0 A 5 MESES'">0 A 5 MESES</option>
                                    <option *ngIf="selectedGETMenRange === '6 A 11 MESES'" selected="selected">6 A 11 MESES</option>
                                    <option *ngIf="selectedGETMenRange !== '6 A 11 MESES'">6 A 11 MESES</option>
                                    <option *ngIf="selectedGETMenRange === '1 A 17 AÑOS'" selected="selected">1 A 17 AÑOS</option>
                                    <option *ngIf="selectedGETMenRange !== '1 A 17 AÑOS'">1 A 17 AÑOS</option>
                                </select>
                            </div>
                            <div (click)="toggleModificar('getHombres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor">
                                <h1 id="primerConst">{{selectedGETMenEcuation[0].value}}</h1>
                                <h1 *ngIf="selectedGETMenEcuation[1].value >= 0">+</h1>
                                <h1 id="segundaConst">{{selectedGETMenEcuation[1].value}}</h1>
                                <h1>MP</h1>
                                <h1 *ngIf="selectedGETMenRange === '1 A 17 AÑOS' && selectedGETMenEcuation[2].value >= 0">+</h1>
                                <h1 *ngIf="selectedGETMenRange === '1 A 17 AÑOS'" id="tercerConst">{{selectedGETMenEcuation[2].value}}</h1>
                                <h1 *ngIf="selectedGETMenRange === '1 A 17 AÑOS'">MP<sup>2</sup></h1>
                            </div>
                        </div>
                        <div class="modificar" id="constantsInputs">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="primerConst">PRIMER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="getHombresPrimerConstanteInput" value="{{selectedGETMenEcuation[0].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="segundaConst">SEGUNDO</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="getHombresSegundaConstanteInput" value="{{selectedGETMenEcuation[1].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div *ngIf="selectedGETMenRange === '1 A 17 AÑOS'" class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="tercerConst">TERCER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input *ngIf="selectedGETMenRange === '1 A 17 AÑOS'" type="number" id="getHombresTercerConstanteInput" value="{{selectedGETMenEcuation[2].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyEcuationConstants('GET', 'men')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="getMujeres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('getMujeres')" class="subopcion">FEMENINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectGetWomen" tabindex="-1" (click)="changeValue('selectGetWomen', 'getWomen')">
                                    <option *ngIf="selectedGETWomenRange === '0 A 5 MESES'" selected="selected">0 A 5 MESES</option>
                                    <option *ngIf="selectedGETWomenRange !== '0 A 5 MESES'">0 A 5 MESES</option>
                                    <option *ngIf="selectedGETWomenRange === '6 A 11 MESES'" selected="selected">6 A 11 MESES</option>
                                    <option *ngIf="selectedGETWomenRange !== '6 A 11 MESES'">6 A 11 MESES</option>
                                    <option *ngIf="selectedGETWomenRange === '1 A 17 AÑOS'" selected="selected">1 A 17 AÑOS</option>
                                    <option *ngIf="selectedGETWomenRange !== '1 A 17 AÑOS'">1 A 17 AÑOS</option>
                                </select>
                            </div>
                            <div (click)="toggleModificar('getMujeres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor">
                                <h1 id="primerConst">{{selectedGETWomenEcuation[0].value}}</h1>
                                <h1 *ngIf="selectedGETWomenEcuation[1].value >= 0">+</h1>
                                <h1 id="segundaConst">{{selectedGETWomenEcuation[1].value}}</h1>
                                <h1>MP</h1>
                                <h1 *ngIf="selectedGETWomenRange === '1 A 17 AÑOS' && selectedGETWomenEcuation[2].value >= 0">+</h1>
                                <h1 *ngIf="selectedGETWomenRange === '1 A 17 AÑOS'" id="tercerConst">{{selectedGETWomenEcuation[2].value}}</h1>
                                <h1 *ngIf="selectedGETWomenRange === '1 A 17 AÑOS'">MP<sup>2</sup></h1>
                            </div>
                        </div> 
                        <div class="modificar" id="constantsInputs">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="primerConst">PRIMER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="getMujeresPrimerConstanteInput" value="{{selectedGETWomenEcuation[0].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="segundaConst">SEGUNDO</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="getMujeresSegundaConstanteInput" value="{{selectedGETWomenEcuation[1].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div *ngIf="selectedGETWomenRange === '1 A 17 AÑOS'" class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="tercerConst">TERCER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input *ngIf="selectedGETWomenRange === '1 A 17 AÑOS'" type="number" id="getMujeresTercerConstanteInput" value="{{selectedGETWomenEcuation[2].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyEcuationConstants('GET', 'women')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tmb" class="contenidoBx">
            <span (click)="toggleContenido('tmb')" class="opcion">TMB</span>
            <div class="contenido">
                <div id="tmbHombres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('tmbHombres')" class="subopcion">MASCULINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectTmbMen" tabindex="-1" (click)="changeValue('selectTmbMen', 'tmbMen')">
                                    <option *ngIf="selectedTMBMenRange === '18 A 29 AÑOS'" selected="selected">18 A 29 AÑOS</option>
                                    <option *ngIf="selectedTMBMenRange !== '18 A 29 AÑOS'">18 A 29 AÑOS</option>
                                    <option *ngIf="selectedTMBMenRange === '30 A 59 AÑOS'" selected="selected">30 A 59 AÑOS</option>
                                    <option *ngIf="selectedTMBMenRange !== '30 A 59 AÑOS'">30 A 59 AÑOS</option>
                                    <option *ngIf="selectedTMBMenRange === '60+ AÑOS'" selected="selected">60+ AÑOS</option>
                                    <option *ngIf="selectedTMBMenRange !== '60+ AÑOS'">60+ AÑOS</option>                               
                                </select>
                            </div>
                            <div (click)="toggleModificar('tmbHombres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor">
                                <h1 id="primerConst">{{selectedTMBMenEcuation[0].value}}</h1>
                                <h1 *ngIf="selectedTMBMenEcuation[1].value >= 0">+</h1>
                                <h1 id="segundaConst">{{selectedTMBMenEcuation[1].value}}</h1>
                                <h1>MP</h1>
                            </div>
                        </div>
                        <div class="modificar" id="constantsInputs">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="primerConst">PRIMER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="tmbHombresPrimerConstanteInput" value="{{selectedTMBMenEcuation[0].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="segundaConst">SEGUNDO</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="tmbHombresSegundaConstanteInput" value="{{selectedTMBMenEcuation[1].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyEcuationConstants('TMB', 'men')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tmbMujeres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('tmbMujeres')" class="subopcion">FEMENINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectTmbWomen" tabindex="-1" (click)="changeValue('selectTmbWomen', 'tmbWomen')">
                                    <option *ngIf="selectedTMBWomenRange === '18 A 29 AÑOS'" selected="selected">18 A 29 AÑOS</option>
                                    <option *ngIf="selectedTMBWomenRange !== '18 A 29 AÑOS'">18 A 29 AÑOS</option>
                                    <option *ngIf="selectedTMBWomenRange === '30 A 59 AÑOS'" selected="selected">30 A 59 AÑOS</option>
                                    <option *ngIf="selectedTMBWomenRange !== '30 A 59 AÑOS'">30 A 59 AÑOS</option>
                                    <option *ngIf="selectedTMBWomenRange === '60+ AÑOS'" selected="selected">60+ AÑOS</option>
                                    <option *ngIf="selectedTMBWomenRange !== '60+ AÑOS'">60+ AÑOS</option>                               
                                </select>
                            </div>
                            <div (click)="toggleModificar('tmbMujeres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor">
                                <h1 id="primerConst">{{selectedTMBWomenEcuation[0].value}}</h1>
                                <h1 *ngIf="selectedTMBWomenEcuation[1].value >= 0">+</h1>
                                <h1 id="segundaConst">{{selectedTMBWomenEcuation[1].value}}</h1>
                                <h1>MP</h1>
                            </div>
                        </div> 
                        <div class="modificar" id="constantsInputs">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="primerConst">PRIMER</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="tmbMujeresPrimerConstanteInput" value="{{selectedTMBWomenEcuation[0].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="constantInputLabel">
                                <h1>MODIFICAR</h1>
                                <h1 id="segundaConst">SEGUNDO</h1>
                                <h1>VALOR:</h1>
                            </div>
                            <input type="number" id="tmbMujeresSegundaConstanteInput" value="{{selectedTMBWomenEcuation[1].value}}" tabindex="-1" placeholder="Ingrese el nuevo valor" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyEcuationConstants('TMB', 'women')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="crecimiento" class="contenidoBx">
            <span (click)="toggleContenido('crecimiento')" class="opcion">CRECIMIENTO</span>
            <div class="contenido">
                <div id="crecimientoHombres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('crecimientoHombres')" class="subopcion">MASCULINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectGrowthMen" tabindex="-1" (click)="changeValue('selectGrowthMen', 'growthMen')">
                                    <ng-container *ngFor="let growth of growthMen"> 
                                        <option *ngIf="selectedGrowthMen.ageRange === growth.ageRange" selected="selected">{{growth.ageRange}}</option>
                                        <option *ngIf="selectedGrowthMen.ageRange !== growth.ageRange">{{growth.ageRange}}</option>
                                    </ng-container>                               
                                </select>
                            </div>
                            <div (click)="toggleModificar('crecimientoHombres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor" id="kcald">
                                <h1>{{selectedGrowthMen.value}}kcal/d</h1>
                            </div>
                        </div>
                        <div class="modificar">
                            <h1>MODIFICAR VALOR:</h1>
                            <input type="number" id="crecimientoHombresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (kcal/d)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyGrowth('men')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="crecimientoMujeres" class="subcontenidoBx">
                    <span (click)="toggleSubcontenido('crecimientoMujeres')" class="subopcion">FEMENINO</span>
                    <div class="subcontenido">
                        <div class="grid" id="constantsGrid">
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                <select id="selectGrowthWomen" tabindex="-1" (click)="changeValue('selectGrowthWomen', 'growthWomen')">
                                    <ng-container *ngFor="let growth of growthWomen"> 
                                        <option *ngIf="selectedGrowthWomen.ageRange === growth.ageRange" selected="selected">{{growth.ageRange}}</option>
                                        <option *ngIf="selectedGrowthWomen.ageRange !== growth.ageRange">{{growth.ageRange}}</option>
                                    </ng-container>                               
                                </select>
                            </div>
                            <div (click)="toggleModificar('crecimientoMujeres')" class="modificarBtn">
                                <span id="modBtn">
                                    MODIFICAR
                                </span>
                                <span id="canBtn">
                                    CANCELAR
                                </span>
                            </div>
                            <div class="valor" id="kcald">
                                <h1>{{selectedGrowthWomen.value}}kcal/d</h1>
                            </div>
                        </div> 
                        <div class="modificar">
                            <h1>MODIFICAR VALOR:</h1>
                            <input type="number" id="crecimientoMujeresInput" tabindex="-1" placeholder="Ingrese el nuevo valor (kcal/d)" autocomplete="off">
                            <div class="confirmarBtn" (click)="modifyGrowth('women')">
                                <span>
                                    CONFIRMAR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

