<body>
  <h1 class="title">Renovando contraseña</h1>
  <form [formGroup]="form">
    <div class="form-input">
      <p class="label">Nueva contraseña</p>
      <input formControlName="password" type="password" placeholder="Nueva Contraseña">
      <small *ngIf="form.get('password')?.hasError('minlength') && form.value.password">Como mínimo 6 caracteres.</small>
      <small *ngIf="form.get('password')?.hasError('maxlength') && form.value.password">Como máximo 50 caracteres.</small>        
    </div>

    <div class="form-input">
      <p class="label">Repetir contraseña</p>
      <input formControlName="repeat" type="password" placeholder="Repetir contraseña">
      <small *ngIf="form.get('repeat')?.hasError('minlength') && form.value.repeat">Como mínimo 6 caracteres.</small>
      <small *ngIf="form.get('repeat')?.hasError('maxlength') && form.value.repeat">Como máximo 50 caracteres.</small>  
    </div>

    <span class="confirm-button" (click)="confirm()">
      RENOVAR
    </span>
  </form>
</body>