<mat-stepper #stepper>
  <mat-step class="paso-3">
    <form>
      <div class="step3-titulo">
        <ng-template matStepLabel>
          Estilo de vida por area
        </ng-template>
      </div>
      <div class="container">
        <div class="step3-pob-rural">
          <mat-form-field appearance="standard">
            <mat-label>Población rural</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="step3-pob-urbana">
          <mat-form-field appearance="standard">
            <mat-label>Población urbana</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="step3-activos-rural">
          <mat-form-field appearance="standard">
            <mat-label>Activos</mat-label>
            <input matInput>
            <mat-hint>
              Ingrese el porcentaje de esta población que tiene un
              nivel de actividad física intensa o moderada
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="step3-activos-urbana">
          <mat-form-field appearance="standard">
            <mat-label>Activos</mat-label>
            <input matInput>
            <mat-hint>
              Ingrese el porcentaje de esta población que tiene un
              nivel de actividad física intensa o moderada
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="step3-liviana-rural">
          <mat-form-field appearance="standard">
            <mat-label>Actividad física liviana</mat-label>
            <input matInput>
            <mat-hint>
              Ingrese el porcentaje de esta población que realiza
              actividad física liviana
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="step3-liviana-urbana">
          <mat-form-field appearance="standard">
            <mat-label>Actividad física liviana</mat-label>
            <input matInput>
            <mat-hint>
              Ingrese el porcentaje de esta población que realiza
              actividad física liviana
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>
