.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  float:left;
  height: 12rem;
}

.step3-pob-rural {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.step3-pob-urbana {
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}

.step3-activos-rural {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.step3-activos-urbana {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
}

.step3-liviana-rural {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
}

.step3-liviana-urbana {
  width: 100%;
  grid-column: 3/4;
  grid-row: 2/3;
}

mat-form-field {
  width: 100%; 
}