<div class="content">
  <div class="row first-div">
    <div class="blue col-md-6 left-column">
      <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_templates.png">
    </div>
    <div class="blue col-md-6 right-column">
      <p class="first-title">Plantillas</p>
    </div>
  </div>
  <div class="row second-div" style="margin-bottom: 2rem;">
    <div class="col-md-6 left-column-2">
      <p class="second-title">Plantillas</p>
      <div class="under-title">
        <p class="templates-info" style="margin-bottom: 2rem">
          El objetivo de estas plantillas es facilitar la carga de datos cosas cosas cosas cosas
        </p>
        <p class="third-title">Plantilla para cargar medianas</p>
        <p class="templates-info" style="margin-bottom: 2rem">
          El objetivo de estas plantillas es facilitar la carga de datos cosas cosas cosas cosas
        </p>
        <div class="row" style="margin-bottom: 1rem;">
          <div class="col-md-6 download">
            <img src="../../../../../assets/XLS.png">
            <p class="download-template">Descargar plantilla</p>    
          </div>
          <div class="col-md-6">
            <img src="../../../../../assets/group_27.png">
          </div>    
        </div>
        <p class="third-title">Plantilla para cargar datos por persona</p>
        <p class="templates-info" style="margin-bottom: 2rem">
          Plantilla de datos por persona cosas cosas cosas cosas
        </p>
        <div class="row" style="margin-bottom: 1rem;">
          <div class="col-md-6 download">
            <img src="../../../../../assets/XLS.png">
            <p class="download-template">Descargar plantilla</p>    
          </div>
          <div class="col-md-6">
            <img src="../../../../../assets/group_27.png">
          </div>    
        </div>
      </div>
    </div>
    <div class="col-md-4 second-column-right">
      <img src="../../../../../assets/ilustrations/illustration_manual2.png">
    </div>
  </div>  
</div>