<section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>AUDITORIA DE</h1>
            <h1>CAMBIOS</h1>
        </div>
    </div>
    <div class="logs" id="log">
        <div class="vacio" *ngIf="!logs.length">
            <h1 class="logsVacio">¡NO HAY CAMBIOS PARA AUDITAR!</h1>
        </div>
        <div class="resultadoBusqueda" *ngIf="logs.length">
            <h1>RESULTADO DE LA BUSQUEDA: {{totalLogs}}</h1>
        </div>
        <div class="resultsTable" *ngIf="logs.length">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="logs">
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Login</th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="organizacion">
                        <th mat-header-cell *matHeaderCellDef>Organización</th>
                        <td mat-cell *matCellDef="let element"> {{element.organization_name}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="totalLogs"
                    [pageSize]="totalPerPage"
                    aria-label="Selecciona la página"
                    (page)="goToPage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</section>
