<section>
    <div class="navigation-buttons">
        <button mat-fab color="primary" aria-label="Página princial" matTooltip="Página principal"  routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Volver" matTooltip="Volver" routerLink="/admin"> 
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="fijo">
        <div class="titulo">
            <h1>AUDITORÍA</h1>
            <h1>LOGS & ESTADÍSTICAS</h1>
        </div>
        <div class="botones">
            <a class="btnAuditory" (click)="goToLogs()">
                <span>LOGS</span>
                <span style="color: #fff">LOGS</span>
            </a>
            <a class="btnStatistics" (click)="goToStatistics()">
                <span>ESTADÍSTICAS</span>
                <span style="color: #fff">ESTADÍSTICAS</span>
            </a>
        </div>
    </div>
    <div class="data logs" id="logs">
        <div class="row justify-content-center busqueda">
            <div class="filters">
                <mat-form-field class="logFilter" appearance="fill">
                    <mat-label>Tipo de acción</mat-label>
                    <mat-select [disabled]="totalLogs==0" [formControl]="logsFilters" multiple>
                        <mat-select-trigger>
                        {{logsFilters.value ? logsFilters.value[0] : ''}}
                        <span *ngIf="logsFilters.value?.length > 1" class="example-additional-selection">
                            (+{{logsFilters.value.length - 1}})
                        </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let logFilter of logsFiltersList" [value]="logFilter">{{logFilter}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button [disabled]="!logsFilters.value" mat-fab color="white" matTooltip="Buscar" aria-label="Buscar" (click)="getFilteredLogs()">
                <mat-icon class="color-icon">search</mat-icon>
            </button>
            <button [disabled]="!logsFilters.value" mat-fab color="white" matTooltip="Quitar filtros" aria-label="Quitar filtros" (click)="resetLogs()">
                <mat-icon class="color-icon">filter_alt_off</mat-icon>
            </button>
        </div>
        
        <div class="vacio" *ngIf="totalLogs==0">
            <h1>¡NO HAY CAMBIOS PARA AUDITAR!</h1>
        </div>
        <div class="resultadoBusqueda" *ngIf="totalLogs > 0">
            <h1>RESULTADO DE LA BUSQUEDA: {{totalLogs}}</h1>
        </div>
        <div class="resultsTable" *ngIf="totalLogs > 0"> 
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="logs">
                    <!-- FECHA -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                    
                    <!-- EMAIL -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- ORGANIZACIÓN -->
                    <ng-container matColumnDef="organizacion">
                        <th mat-header-cell *matHeaderCellDef>Organización</th>
                        <td mat-cell *matCellDef="let element"> {{element.organization_name}} </td>
                    </ng-container>

                     <!-- NOMBRE -->
                     <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
                    </ng-container>

                    <!-- ACCIÓN -->
                    <ng-container matColumnDef="accion">
                        <th class='action-header' mat-header-cell *matHeaderCellDef>Acción</th>
                        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                    </ng-container>

                    <!-- Descripción FECHA -->
                    <ng-container matColumnDef="fecha-description">
                        <th mat-header-cell *matHeaderCellDef>Fecha de la acción</th>
                    </ng-container>

                    <!-- Descripción ORGANIZACIÓN -->
                    <ng-container matColumnDef="org-description">
                        <th mat-header-cell *matHeaderCellDef></th>
                    </ng-container>

                    <!-- Descripción EMAIL -->
                    <ng-container matColumnDef="email-description">
                        <th mat-header-cell *matHeaderCellDef></th>
                    </ng-container>
                
                    <!-- Descripción NOMBRE -->
                    <ng-container matColumnDef="nombre-description">
                        <th mat-header-cell *matHeaderCellDef></th>
                    </ng-container>

                    <!-- Descripción ACCIÓN -->
                    <ng-container matColumnDef="accion-description">
                        <th mat-header-cell *matHeaderCellDef>Acción realizada</th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        class="header-row">
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="['fecha-description', 'email-description', 'org-description', 'nombre-description', 'accion-description']"
                        class="description-row">
                    </tr>
                
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator class="mat-paginator-sticky" [length]="totalLogs"
                    [pageSize]="totalPerPage"
                    [pageSizeOptions]='[10,20,50]'
                    aria-label="Selecciona la página"
                    (page)="goToPage($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
    <div class="data statistics" id="statistics">
         <div class="row justify-content-center busqueda">
             <div class="filters">
                <mat-form-field class="filter" appearance="fill">
                    <mat-label>Usuarios</mat-label>
                    <mat-select [formControl]="users" multiple>
                    <mat-option *ngFor="let user of usersList" [value]="user.id">{{user.name}} - {{user.organization}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="filter" appearance="fill">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                 <mat-form-field class="filter" appearance="fill">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControl]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <button [disabled]="!(users.value || fromDate.value || toDate.value)" mat-fab color="white" matTooltip="Buscar" aria-label="Buscar" (click)="getStatistics()">
                <mat-icon class="color-icon">search</mat-icon>
            </button>
            <button [disabled]="!(users.value || fromDate.value || toDate.value)" mat-fab color="white" matTooltip="Quitar filtros" aria-label="Quitar filtros" (click)="resetStatistics()">
                <mat-icon class="color-icon">filter_alt_off</mat-icon>
            </button>
        </div>
         <!-- ESTADÍSTICAS -->
        <div class="charts-bar-vertical">
            <ngx-charts-bar-vertical
                [results]="statistics"
                [scheme]="colorScheme"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [update$]="update$">
            </ngx-charts-bar-vertical>
        </div>
    </div>

</section>