mat-form-field {
  width: 100%; 
}

.mensaje-error {
  font-size: small;
  padding: 0.7rem;
  color: #f44336;
}

.datos-natalidad {
  background: rgba(0, 0, 0, 0.12);
}

.step4-check-box-2 {
  display: none;
}