<form [formGroup]="materYLactanciaForm" (ngSubmit)="onSubmit()">
  <div class="step4-titulo">
    <ng-template matStepLabel>
      Maternidad y lactancia
    </ng-template>
  </div>

  <!--Contenido del componente-->
  <div class="container">
    <div class="row">
      <!------------------------ 18 A 19 AÑOS ------------------------>
      <div *ngIf="agesFemale18To29Present; then thenBlock18to29"></div>
      <ng-template #thenBlock18to29>
        <div class="step4-label-1 row gy-1">
          18 a 29 años
        </div>
        <!-- DATOS ESPECÍFICOS DEL GRUPO -->
        <div class="row gy-1 justify-content-end" formGroupName="maternityIndivPrimerFranja">
          <div *ngIf="materYLactanciaForm.get('maternityIndivPrimerFranja')?.errors?.step4MenorIgualPobStep1 &&
            (materYLactanciaForm.get('maternityIndivPrimerFranja')?.touched || materYLactanciaForm.get('maternityIndivPrimerFranja')?.dirty)"
            class="mensaje-error col">
            La suma de personas embarazadas y amamantando no puede ser mayor a la ingresada en el paso 1.
          </div>
          <div class="step4-num-embarazos col-4">
            <mat-form-field appearance="standard">
              <mat-label>Número de embarazos</mat-label>
              <input matInput formControlName="embsPrimerFranja" [errorStateMatcher]="matcher">
              <mat-hint>
                Ingrese el número de personas embarazadas para este rango
              </mat-hint>
              <mat-error *ngIf="materYLactanciaForm.get('maternityIndivPrimerFranja.embsPrimerFranja')?.hasError('pattern')">
                El número de personas embarazadas debe ser un número entero positivo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="step4-num-amamantando col-4">
            <mat-form-field appearance="standard">
              <mat-label>Número de personas amamantando</mat-label>
              <input matInput formControlName="amamPrimerFranja" [errorStateMatcher]="matcher">
              <mat-hint>
                Ingrese el número de personas amamantando para este rango
              </mat-hint>
              <mat-error *ngIf="materYLactanciaForm.get('maternityIndivPrimerFranja.amamPrimerFranja')?.hasError('pattern')">
                El número de personas amamantando debe ser un número entero positivo
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- CHECKBOX -->
        <div class="step4-check-box-1 row gy-1">
          <div>
            <mat-checkbox
              matTooltip="Se calculará en base a la población total y la tasa de natalidad"
              matTooltipPosition="above"
              (change)="enableFields($event,1)"
              color="primary"
              formControlName="primerFranjaDisabled">
              No tengo estos datos
            </mat-checkbox>
          </div>
          <div *ngIf="materYLactanciaForm.get('maternityPrimerFranja')?.errors?.step4MenorIgualPobTotal &&
            (materYLactanciaForm.get('maternityPrimerFranja')?.touched || materYLactanciaForm.get('maternityPrimerFranja')?.dirty)"
            class="mensaje-error">
            La población femenina de esta franja etaria no puede ser mayor que la población total.
          </div>
        </div>
        <!-- DATOS A PARTIR DE LA NATALIDAD -->
        <mat-card class="datos-natalidad gy-1" [hidden]="!materYLactanciaForm.get('primerFranjaDisabled')?.value" formGroupName="maternityPrimerFranja">
          <div class="button-autocomplete mb-2">
            <button mat-stroked-button (click)="loadDefaultValues()"
              [disabled]="!defaultExtraDataAvailable"
              matTooltip="Autocompleta los campos con los valores por defecto"
              matTooltipPosition="above">
              Autocompletar
            </button>
          </div>
          <div class="row pb-3">
            <div class="step4-cant-mujeres col">
              <mat-form-field appearance="standard">
                <mat-label>Población femenina de 18 y 29 años</mat-label>
                <input matInput formControlName="cantPrimerFranja" [errorStateMatcher]="matcher">
                <mat-hint>
                  Ingrese la población femenina del país para este rango etario
                </mat-hint>
                <mat-error *ngIf="materYLactanciaForm.get('maternityPrimerFranja.cantPrimerFranja')?.hasError('pattern')">
                  La población debe ser un número entero positivo
                </mat-error>
              </mat-form-field>
            </div>
            <div class="step4-pob-total col">
              <mat-form-field appearance="standard">
                <mat-label>Población total</mat-label>
                <input matInput formControlName="pobTotPrimerFranja" [errorStateMatcher]="matcher">
                <mat-hint>
                  Ingrese el número de habitantes del país.
                  Por defecto se tomará la población de Uruguay
                </mat-hint>
                <mat-error *ngIf="materYLactanciaForm.get('maternityPrimerFranja.pobTotPrimerFranja')?.hasError('pattern')">
                  La población debe ser un número entero positivo
                </mat-error>
              </mat-form-field>
            </div>
            <div class="step4-tasa-natalidad col">
              <mat-form-field appearance="standard">
                <mat-label>Tasa de natalidad</mat-label>
                <input matInput formControlName="natPrimerFranja" [errorStateMatcher]="matcher">
                <mat-hint>
                  Ingrese la tasa de natalidad del país.
                  Por defecto se tomará la tasa de natalidad de Uruguay
                </mat-hint>
                <mat-error *ngIf="materYLactanciaForm.get('maternityPrimerFranja.natPrimerFranja')?.hasError('pattern')">
                  La tasa de natalidad debe ser un número decimal positivo
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </ng-template>
      <!------------------------ 30 A 59 AÑOS ------------------------>
      <div *ngIf="agesFemale30To59Present; then thenBlock30to59"></div>
      <ng-template #thenBlock30to59>
        <hr class="m-3"><!--Separador-->
        <div class="step4-label-2 row gy-3">
          30 a 59 años
        </div>
        <!-- DATOS ESPECÍFICOS DEL GRUPO -->
        <div class="row gy-1 justify-content-end" formGroupName="maternityIndivSegundaFranja">
          <div *ngIf="materYLactanciaForm.get('maternityIndivSegundaFranja')?.errors?.step4MenorIgualPobStep1 &&
            (materYLactanciaForm.get('maternityIndivSegundaFranja')?.touched || materYLactanciaForm.get('maternityIndivSegundaFranja')?.dirty)"
            class="mensaje-error col">
            La suma de personas embarazadas y amamantando no puede ser mayor a la ingresada en el paso 1.
          </div>
          <div class="step4-num-embarazos-2 col-4">
            <mat-form-field appearance="standard">
              <mat-label>Número de embarazos</mat-label>
              <input matInput formControlName="embsSegundaFranja" [errorStateMatcher]="matcher">
              <mat-hint>
                Ingrese el número de personas embarazadas para este rango
              </mat-hint>
              <mat-error *ngIf="materYLactanciaForm.get('maternityIndivSegundaFranja.embsSegundaFranja')?.hasError('pattern')">
                El número de personas embarazadas debe ser un número entero positivo
              </mat-error>
            </mat-form-field>
          </div>
          <div class="step4-num-amamantando-2 col-4">
            <mat-form-field appearance="standard">
              <mat-label>Número de personas amamantando</mat-label>
              <input matInput formControlName="amamSegundaFranja" [errorStateMatcher]="matcher">
              <mat-hint>
                Ingrese el número de personas amamantando para este rango
              </mat-hint>
              <mat-error *ngIf="materYLactanciaForm.get('maternityIndivSegundaFranja.amamSegundaFranja')?.hasError('pattern')">
                El número de personas amamantando debe ser un número entero positivo
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- CHECKBOX -->
        <div class="step4-check-box-2 row gy-1">
          <div>
            <mat-checkbox
              matTooltip="No se ponderará el posible gasto energético por embarazo y lactancia para las mujeres de este grupo etario"
              matTooltipPosition="above"
              (change)="enableFields($event,2)"
              color="primary"
              formControlName="segundaFranjaDisabled">
              No tengo estos datos
            </mat-checkbox>
          </div>
        </div>
      </ng-template>
    </div> <!--end row principal-->
  </div> <!--end container-->
</form>