<form>
  <div class="step4-titulo">
    <ng-template matStepLabel>
      Mujeres de 18 a 29 años
    </ng-template>
  </div>
  <div class="container">
    <div class="step4-num-embarazos">
      <mat-form-field appearance="standard">
        <mat-label>Número de embarazos</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese el número de personas entre 18 y 29 años embarazadas
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="step4-check-box">
      <mat-checkbox color="primary">No tengo estos datos</mat-checkbox>
      <div class="checkbox-information">
        Se calculará en base a la población total y la tasa de natalidad
      </div>
    </div>
    
    <div class="step4-pob-total">
      <mat-form-field appearance="standard">
        <mat-label>Población total</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese el número de habitantes del país.
          Por defecto se tomará la población de Uruguay
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="step4-cant-mujeres">
      <mat-form-field appearance="standard">
        <mat-label>Cantidad de mujeres de 18 a 29 años</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese el número de mujeres entre 18 y 29 años de la población estudiada
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="step4-num-amamantando">
      <mat-form-field appearance="standard">
        <mat-label>Número de personas amamantando</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese el número de personas entre 18 y 29 años amamantando
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="step4-tasa-natalidad">
      <mat-form-field appearance="standard">
        <mat-label>Tasa de natalidad</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese la tasa de natalidad.
          Por defecto se tomará la tasa de natalidad de Uruguay
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="step4-mediana">
      <mat-form-field appearance="standard">
        <mat-label>Mediana</mat-label>
        <input matInput>
        <mat-hint>
          Ingrese la mediana de los pesos para mujeres entre 18 y 29 años
          que no estén embarazadas ni amamantando
        </mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>

