<div class="row first-div">
  <div class="col-md-6 left-column">
    <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_manual.png">
  </div>
  <div class="col-md-6 right-column">
    <p class="first-title">Manual</p>
    <p class="second-title">& Preguntas Frecuentes</p>
  </div>
</div>
<div class="row second-div">
  <div class="col-md-6 left-column-2">
    <div class="under-title">
      <p class="third-title">Manual</p>
      <button class="download-btn" (click)="downloadFile()" mat-flat-button color="primary"
      matTooltip="Descargue el manual de usuario en formato PDF">
        Descargar manual<mat-icon>download</mat-icon>
      </button>
    </div>
    <div class="faq-container">
      <div class="faq" *ngFor="let faq of faqs">
        <app-faq-expansion-panel [question]="faq.question" [answer]="faq.answer">
        </app-faq-expansion-panel>  
      </div>
    </div>
  </div>
  <div class="col-md-5 second-column-right">
    <img class="second-illustration" src="../../../../../assets/ilustrations/illustration_manual2.png">
  </div>
</div>
