<div class="row first-div">
  <div class="yellow col-md-6 left-column">
    <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_manual.png">
  </div>
  <div class="yellow col-md-6 right-column">
    <p class="first-title">Manual</p>
    <p class="second-title">& Preguntas Frecuentes</p>
  </div>
</div>
<div class="row second-div" style="margin-bottom: 2rem;">
  <div class="col-md-6 left-column-2">
    <div class="under-title">
      <p class="third-title">Manual</p>
      <div class="download">
        <p class="download-title">Descargar manual<mat-icon>download</mat-icon></p>
      </div>        
    </div>
    <div class="under-title" style="margin-top: 2rem">
      <div class="faq" *ngFor="let faq of faqs">
        <app-faq-expansion-panel [question]="faq.question" [answer]="faq.answer">
        </app-faq-expansion-panel>  
      </div>
      <!-- <p class="question-title">¿Qué es el RE?</p>
      <p class="question-info">
        Respuesta a la pregunta, respuesta a la pregunta, 
        respuesta a la pregunta, respuesta a la pregunta.
      </p>   -->
    </div>
  </div>
  <div class="col-md-4 second-column-right">
    <img class="second-illustration" src="../../../../../assets/ilustrations/illustration_manual2.png">
  </div>
</div>
