.first-div {
  background-color: #FFCF2D;
}

.first-illustration {
  height: 90%;
  margin: 20px
}

.first-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 8rem;
  display: flex;
  color: #FFFFFF;
}

.second-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  display: flex;
  color: #9a3b82;
  margin-top: -60px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

/* .col-md-6.yellow {
  min-width: 65vh;
  max-height: 100%;
} */

.second-div {
  margin: 2rem 0 0 3rem;
}

.left-column-2 {
  margin: 3rem 0 0 3rem;
}

.under-title {
  margin-left: 0.5rem;
}

.faq-container {
  margin-left: 0.5rem;
  margin-top: 2rem
}

.third-title {
  color: #3F51B5;
  font-size: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
}

.download-btn {
  height: 3rem;
  width: fit-content;
  /* background: #C4C4C4;
  color: #3F51B5; */
  font-size: 1.2rem;
}

::ng-deep .mat-tooltip {
  font-size: 1rem !important;
}

.mat-icon {
  margin-left: 0.5rem;
}

.second-column-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faq {
  margin-bottom: 1rem;
}

@media (max-width: 1325px) {
  .col-md-6 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .first-title {
    height: 20vw;
    font-size: 20vw;
  }

  .first-div {
    height: unset;
    width: fit-content;
  }

  .left-column-2 {
    margin: 0;
  }

  .second-div {
    margin: 0;
    height: unset;
    width: fit-content;
  }

  .download {
    height: unset;
  }

  .second-title {
    height: unset;
    font-size: 12vw;
  }

  .third-title {
    height: unset;
  }

  .second-illustration {
    width: 100%;
  }
}