<div class="content">
  <div class="illustration">
    <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_calculos.png">
  </div>
  <p class="first-title">¿Cómo desea ingresar los datos <br> para el cálculo?</p>
  <div class="buttons-div">
    <div class="first-button">
      <button mat-raised-button color="primary" routerLink="/upload-template">
        Tengo la plantilla con los pesos
      </button>
      <a href="/calculos">¿Qué plantilla?</a>  
    </div>
    <button mat-raised-button color="primary" routerLink="/stepper">
      Quiero subir los datos a mano
    </button>
    <button mat-raised-button color="primary" routerLink="/no-data">
      No tengo los pesos
    </button>
  </div>
</div>