<div class="content">
  <div class="illustration">
    <img class="first-illustration" src="../../../../../assets/ilustrations/illustration_calculos.png">
  </div>
  <p class="first-title">¿Cómo desea ingresar los datos <br> para el cálculo?</p>
  <div class="buttons-div">
    <div class="first-button">
      <button mat-raised-button color="primary" routerLink="/upload-template">
        Tengo la plantilla con los pesos
      </button>
      <a href="/calculos" (click)="downloadFile()">¿Qué plantilla?</a>  
    </div>
    <div class="second-button">
      <div class="col-sm">
        <button mat-raised-button color="primary" routerLink="/stepper">
          Quiero subir los datos a mano
        </button>
      </div>
      <div class="col-sm">
        <mat-icon class= "orange-icon" matTooltip="¡Si no cuenta con algún dato se le brindarán datos por defecto!">
          info
        </mat-icon>
      </div>
    </div>
  </div>
</div>