<div class="navigation-buttons">
  <button mat-fab color="primary" aria-label="Página princial" matTooltip="Página principal"  routerLink="/dashboard">
      <mat-icon>home</mat-icon>
  </button>
  <button mat-fab color="primary" aria-label="Volver" matTooltip="Volver" routerLink="/admin"> 
      <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="fijo">
    <div class="titulo">
      <h1>PREGUNTAS</h1>
      <h1>FRECUENTES</h1>
    </div>
  </div>
  <div class="faq-list-section">
    <span class="new-faq-button" (click)="upsertFaq()">
      AGREGAR
    </span>
    <ul class="faq-list">
      <li *ngFor="let faq of faqs">
        <span class="faq-item">{{faq.question}}</span>
        <div class="info">
          <span>Respuesta: {{faq.answer}}</span>
          <span>Posición: {{faq.position}}</span>
          <a>
            <span class="boton cancelar" (click)="deleteFaq(faq)">
              ELIMINAR
            </span>
            <span class="boton edit" (click)="upsertFaq(faq)">
              EDITAR
            </span>
          </a>
        </div>
      </li>
    </ul>  
  </div>
</section>