<section>
  <div class="navigation-buttons">
    <button mat-fab color="primary" aria-label="Página princial" matTooltip="Página principal"  routerLink="/dashboard">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Volver" matTooltip="Volver" routerLink="/admin"> 
        <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="fijo">
    <div class="titulo">
      <h1>PREGUNTAS</h1>
      <h1>FRECUENTES</h1>
    </div>
  </div>
  <div class="faq-list-section">
    <span class="new-faq-button" (click)="upsertFaq()">
      AGREGAR
    </span>
    <div class="faq-list">
      <ng-container *ngFor="let faq of faqs">
        <div id="{{faq.position}}" class="content">
          <div class="question" (click)="toggleQuestion(faq.position)">{{faq.question}}</div>
          <div class="answer">
            <span>{{faq.answer}}</span>
            <span>Posición: {{faq.position}}</span>
            <a>
              <span class="boton eliminar" (click)="deleteFaq(faq)">ELIMINAR</span>
              <span class="boton edit" (click)="upsertFaq(faq)">EDITAR</span>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="vacio" *ngIf="faqs.length == 0">
      <h1 class="vacioPendientes">¡NO HAY PREGUNTAS FRECUENTES!</h1>
    </div>
  </div>
</section>