* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  min-height: 88.4vh;
  background: #ccfdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.navigation-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  background: #ccfdff;
  background-size: cover;
  border: 20px solid #ccfdff;
}
.navigation-buttons > * {
  margin-right: 20px;
}
.navigation-buttons .mat-tooltip {
  font-size: 20px;
}
section .color {
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(315deg, #ee8ab8, #e06277);
  transform: skewX(-35deg);
  transition: 0.75s;
}
section .color:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transition: 0.5s;
  background: linear-gradient(315deg, #ee8ab8, #e06277);
  filter: blur(20px);
}
section .color:nth-child(2) {
  top: 50px;
  right: -10px;
  width: 150px;
  height: 450px;
  animation: init-color-1 0.75s ease-in;
}
section .color:nth-child(3) {
  top: 150px;
  left: -30px;
  width: 180px;
  height: 550px;
  animation: init-color-2 0.6s ease-in;
}
section .color:nth-child(4) {
  bottom: -300px;
  left: -10px;
  width: 150px;
  height: 600px;
  animation: init-color-3 0.8s ease-in;
}
@keyframes init-color-1 {
  0% {
    top: 0px;
    right: -65px;
    height: 350px;
    width: 150px;
  }
  100% {
    top: 50px;
    right: -10px;
    height: 450px;
    width: 150px;
  }
}
@keyframes init-color-2 {
  0% {
    top: 250px;
    left: -80px;
    width: 180px;
    height: 450px;
  }
  100% {
    top: 150px;
    left: -30px;
    width: 180px;
    height: 550px;
  }
}
@keyframes init-color-3 {
  0% {
    bottom: -300px;
    left: -40px;
    width: 150px;
    height: 500px;
  }
  100% {
    bottom: -300px;
    left: -10px;
    width: 150px;
    height: 600px;
  }
}
section .fijo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: 140px;
  max-width: 1000px;
  top: 90px;
  animation: init-title 0.35s ease-in;
}
@keyframes init-title {
  0% {
    transform: translateX(6vw);
  }
  100% {
    transform: translateX(0);
  }
}
section .fijo .titulo {
  width: 100%;
  text-align: center;
  position: relative;
  top: -78px;
}
section .fijo .titulo h1:nth-child(1) {
  position: relative;
  top: 42px;
  left: -120px;
  font-size: 80px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  background: linear-gradient(315deg, #ee516b, #ee8ab8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: 0.5s;
  animation: init-text 0.5s ease-in;
}
@keyframes init-text {
  0% {
    transform: translateY(-15vw);
  }
  100% {
    transform: translateX(0);
  }
}
section .fijo .titulo h1:nth-child(2) {
  font-size: 105px;
  position: relative;
  left: 0px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ccfdff;
  transition: 0.5s;
}
section .faq-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .faq-list-section .faq-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
section .faq-list-section .faq-list .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 10px 0px;
  width: 95%;
  transition: 0.3s;
}
section .faq-list-section .faq-list .content:hover {
  width: 100%;
}
section .faq-list-section .faq-list .content.active {
  width: 100%;
}
section .faq-list-section .faq-list .content .question {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  background: #ccfdff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
section .faq-list-section .faq-list .content.active .question {
  background: #ec6d82e0;
  color: #ccfdff;
  font-size: 25px;
  padding: 10px 30px;
  letter-spacing: 2px;
}
section .faq-list-section .faq-list .content .question::before {
  content: "+";
  position: absolute;
  color: #ec6d82;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: 500;
  transition: 0.4s;
}
section .faq-list-section .faq-list .content:hover .question::before {
  transform: rotate(90deg) translateX(-30px);
}
section .faq-list-section .faq-list .content.active:hover .question::before {
  transform: rotate(0deg) translateY(-30px);
}
section .faq-list-section .faq-list .content.active .question::before {
  content: "—";
  color: #ccfdff;
}
section .faq-list-section .faq-list .content .answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  background: #ccfdff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}
section .faq-list-section .faq-list .content.active .answer {
  position: relative;
  background: #ccfdff;
  padding: 10px 15px;
  height: auto;
  overflow: visible;
}
section .faq-list-section .faq-list .content .answer a {
  margin: 10px;
}
section .faq-list-section .faq-list .content .answer a .boton {
  padding: 8px;
  text-align: center;
  margin: 8px;
  border-radius: 10px;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}

section .faq-list-section .faq-list .content .answer a .boton.eliminar {
  background: #df5169e0;
  color: #ccfdff;
}

section .faq-list-section .faq-list .content .answer a .boton.edit {
  background: rgb(230, 145, 35);
  color: #ccfdff;
}
section .vacio {
  position: relative;
  width: 80%;
  top: -10px;
  margin-bottom: 15px;
  color: #df8292;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .vacio h1 {
  text-align: center;
  font-size: 28px;
  color: #c9fdff;
  font-weight: 450;
  letter-spacing: 2px;
}

.new-faq-button {
  margin-top: 1rem;
  background: #ec6d82e0;
  padding: 10px 30px;
  border-radius: 35px;
  color: #ccfdff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.25s;
}
.new-faq-button:hover {
  letter-spacing: 4px;
  padding: 10px 35px;
  background: #fa3e5e;
}
.faq-list-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 80vw;
  max-width: 800px;
  top: 260px;
  transition: 0.5s;
}

@media (max-width: 1435px) {
  section .color {
    display: none;
  }
}
@media (max-width: 800px) {
  section .fijo {
    height: 100px;
    top: 70px;
  }
  .faq-list-section {
    top: 200px;
  }
  section .fijo .titulo {
    top: -50px;
  }
  section .fijo .titulo h1:nth-child(1) {
    top: 25px;
    left: -80px;
    font-size: 45px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 70px;
  }
}

@media (max-width: 560px) {
  section .fijo {
    height: 100px;
    top: 70px;
  }
  .faq-list-section {
    top: 200px;
  }
  section .fijo .titulo {
    top: -57px;
  }
  section .fijo .titulo h1:nth-child(1) {
    top: 16px;
    left: 0px;
    font-size: 35px;
  }
  section .fijo .titulo h1:nth-child(2) {
    font-size: 35px;
  }
}
