<section>
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
  <div class="fijo">
    <div class="titulo">
      <h1>PREGUNTAS</h1>
      <h1>FRECUENTES</h1>
    </div>
  </div>
  <div class="faq-list-section">
    <span class="new-faq-button" (click)="upsertFaq()">
      AGREGAR
    </span>
    <ul class="faq-list">
      <li *ngFor="let faq of faqs">
        <span class="faq-item" style="font-size: 1.5rem; margin-bottom: 0.5rem;">{{faq.question}}</span>
        <div class="info" style="width: 100%; word-break: break-all;">
          <span style="font-size: 1.5rem;">Respuesta: {{faq.answer}}</span>
          <span style="font-size: 1.5rem;">Posición: {{faq.position}}</span>
        </div>
        <a>
          <span class="boton cancelar" (click)="deleteFaq(faq)">
            ELIMINAR
          </span>
          <span class="boton edit" (click)="upsertFaq(faq)">
            EDITAR
          </span>
        </a>
      </li>
    </ul>  
  </div>
</section>